<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
            <div class="text-left"><a href="/amrithavachanam" class="btn btn-color mt-2">Back</a></div>
          <h4 class="card-title mt-3">Dr.Ji <span style="color: orange;">Amrithavachanam</span></h4>
          <img src="/images/dr.ji.jpg" alt="DrJi" class="img-fluid" style="width: 80px;height: 80px;border: 2px solid orange;">
          <hr>
          <h6 class="text-center"></h6>
          <h6>പരമ പൂജനീയ ഡോ. കേശവ ബലിറാം ഹെഡ്ഗേവാർ പറഞ്ഞു..,<br><hr>

“സ്വന്തം മത്രുഭുമിക്ക്  വേണ്ടി സ്വജീവൻ  പോലും ബലിയർപ്പിക്കാനുള്ള സന്നദ്ധതയാണ് യഥാർഥ ദേശസ്നേഹത്തിന്റെ സാരം. ലക്ഷക്കണക്കിന്‌ യുവാക്കൾ സ്വന്തം ജീവിതകാലം മുഴുവൻ ദേശ സ്വാതന്ത്ര്യത്തിനു വേണ്ടി അർപ്പണം ചെയ്താൽ മാത്രമേ ഇന്നത്തെ നമ്മുടെ രാഷ്ട്രത്തിന്റെ വിധി മാറ്റി എഴുതാനാകൂ. ഈ ലക്ഷ്യത്തിൽ അടിയുറച്ച മനസ്സുകൾ യുവാക്കളിൽ വളർത്തിയെടുക്കുക എന്നതാണ് പരമപ്രധാന ലക്ഷ്യം.”<br><hr><hr>
♦
“രാഷ്ട്രിയ സ്വയംസേവക് സംഘം ത്തിന്‍റെ പ്രവര്‍ത്തനം ഏതെങ്കിലും, ഒരു നഗരത്തെയോ, രാജ്യത്തെയോ ഉധേശിച്ച് ആരംഭിച്ചതല്ല. മുഴുവന്‍ ദേശത്തെയും സുസംഘടിതമാക്കി മുഴുവന്‍ ഹിന്ദു സമാജത്തെയും സ്വയം സംരക്ഷണ ക്ഷമവും ശക്തിസമ്പന്നവും ആക്കുകഎന്നുള്ള ഉദ്ദേശത്തോടെയാണ് സംഘം ആരംഭിച്ചത്. ഹിന്ദു സമാജം അസംഘടിതവും അച്ചടക്കരഹിതവും ആണെങ്കില്‍. ഭാവിയില്‍ അതിന്‍റെ അസ്തിത്വം തന്നെ നഷ്ട്ടപ്പെടും. ഹിന്ദു സംസ്കാരം നാമാവശേഷമാകും.”<br><hr><hr>
♦
“നമ്മുടെ സമൂഹത്തില്‍ മനുഷ്യശക്തിയും ധനശക്തിയും എല്ലാമുണ്ടായിരുന്നു. എന്നാല്‍ ഞാന്‍ രാഷ്ട്രത്തിന്‍റെ ഘടകമാണെന്നും അതിനുവേണ്ടിയായിരിക്കും എന്‍റെ ജീവിതം എന്നുമുള്ള ഭാവന വ്യക്തിഹൃദയങ്ങളില്‍ നിന്നും നഷ്ട്ടപ്പെട്ടതുകാരണം സര്‍വശക്തികളും ഉണ്ടായിട്ടും നമ്മുടെ രാഷ്ട്രം പരാജയപ്പെട്ടു. അതുകൊണ്ട്  സമൂഹത്തിന്‍റെ ഓരോസിരയിലും ദേശിയതയുടെ ഉത്കടഭാവന നിറയ്ക്കണം. ആ ഭാവനകൊണ്ട് സമ്പൂര്‍ണ സമാജത്തെയും അനുശാസനാബന്ധവും ജീവസുറ്റതുമാക്കി രാഷ്ട്രത്തെ ദിഗ്‌വിജയിയാക്കിത്തീര്‍ക്കണം.”</h6><hr>
          <div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>