<section style="background-color: #474e5d; color: white;">
    <hr style="background-color: orange;margin-top: 0;margin-bottom: 0;height: 5px;">
    <h5 class="text-center mt-5">Add-Details</h5>
<form class="text-center mt-5 container" method="POST" action="/admin/add-notify">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="title">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Description</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="description">
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">About</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="About" placeholder="About">
  </div>
  <input type="text" style="display: none;" value="{{userId}}" name="userId">
    <input type="text" name="date" style="display: none;" id="date">
    <input type="text" name="time" id="time" style="display: none;">
    <div class="form-group">
      <input type="submit" class="btn btn-color mb-5 w-100" id="exampleFormControlInput1">
  </div>
</form>
</section>

<script>
  var tdate = new Date().getDate();
  var tmonth = new Date().getMonth();
  var tyear = new Date().getFullYear();
  var hour = new Date().getHours();
  var minute = new Date().getMinutes();
  var second = new Date().getSeconds();
  document.getElementById('date').value =  tdate  + "/" + tmonth + "/" + tyear;
  document.getElementById('time').value =  hour  + ":" + minute + ":" + second;
</script>