<section style="background-color: #474e5d; color: white;">
  <h4 class="text-center mt-4">Add Personal <span style="color: orange;">Notifications</span></h4>
  <p class="text-center ">This Notification Is Send To {{userId}}</p> 
  <form class="mt-3 container" method="POST" action="/admin/add-notify">
    <div class="form-group">
      <label for="titile">Title</label>
      <input type="text" class="form-control" id="titile" name="title" placeholder="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="description">
    </div>
    <div class="form-group">
      <label for="about">About</label>
      <input type="text" class="form-control" id="about" name="about" placeholder="About">
    </div>
    <div class="form-group">
      <label for="marquee">Marquee</label>
      <input type="text" class="form-control" id="marquee" name="marquee" placeholder="Marquee..">
    </div>
    <div class="form-group">
      <label for="buttontxt">Button Text</label>
      <input type="text" class="form-control" id="buttontxt" name="buttontxt" placeholder="Button Text..">
    </div>
    <div class="form-group">
      <label for="btnlink">Button Link</label>
      <input type="text" class="form-control" id="btnlink" name="btnlink" placeholder="Link...">
    </div>
    <input type="text" style="display: none;" value="{{userId}}" name="userId">
    <input type="hidden" name="date"  id="date">
    <input type="hidden" name="time" id="time" >
    <input type="hidden" name="Nstatus" id="Nstatus" value="not">
    <div class="form-group">
      <input type="submit" class="btn btn-color mb-5 w-100" id="exampleFormControlInput1">
    </div>
  </form>
</section>

<script>
  var tdate = new Date().getDate();
  var tmonth = new Date().getMonth() + 1;
  var tyear = new Date().getFullYear();
  var hour = new Date().getHours();
  var minute = new Date().getMinutes();
  var second = new Date().getSeconds();
  document.getElementById('date').value = tyear + "-" + tmonth + "-" + tdate;
  document.getElementById('time').value = hour + ":" + minute + ":" + second;
</script>