<section style="background-color: #474e5d; color: white;">
    <h4 class="text-center mt-5">Add Site <span style="color: orange;">Notification</span></h4>
  <p class="text-center ">This Notification Is Send To All The App Users.On Submit This Form This Form Is Only Posted In The App</p>
<form class="mt-3 container" method="POST" action="/admin/add-site-notify">
  <div class="form-group">
    <label for="titile">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="title">
  </div>
    <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="description">
  </div>
      <div class="form-group">
    <label for="about">About</label>
    <input type="text" class="form-control" id="about" name="about" placeholder="About">
  </div>
    <div class="form-group">
      <label for="marquee">Marquee</label>
      <input type="text" class="form-control" id="marquee" name="marquee" placeholder="Marquee..">
      
    </div>
    <div class="form-group">
      <label for="buttontxt">Button Text</label>
      <input type="text" class="form-control" id="buttontxt" name="buttontxt" placeholder="Button Text..">
    </div>
    <div class="form-group">
      <label for="btnlink">Button Link</label>
      <input type="text" class="form-control" id="btnlink" name="btnlink" placeholder="Link...">
    </div>

  <input type="text" name="date" style="display: none;" id="date">
  <input type="text" name="time" id="time" style="display: none;">
  <input type="hidden" name="Nstatus" id="Nstatus" value="not">
    <div class="form-group">
      <input type="submit" class="btn btn-color mb-5 w-100" id="exampleFormControlInput1">
  </div>
</form>
</section>

<script>
  var tdate = new Date().getDate();
  var tmonth = new Date().getMonth();
  var tyear = new Date().getFullYear();
  var hour = new Date().getHours();
  var minute = new Date().getMinutes();
  var second = new Date().getSeconds();
  document.getElementById('date').value =   tyear + "-" + tmonth + "-" + tdate;
  document.getElementById('time').value =  hour  + ":" + minute + ":" + second;
</script>