<section style="background-color: #474e5d; color: white;">
      <h5 class="text-center mt-5">Add-Details</h5>
<form class="text-center mt-5 container" method="POST" action="/admin/add-content">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="title">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Description</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="description" placeholder="description">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Marquee</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="marquee" placeholder="moving text">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Buttton Text</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="btntext" placeholder="click me">
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">Content</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="content" placeholder="content">
  </div>
  <div class="form-group">
      <input type="submit" class="form-control" id="exampleFormControlInput1">
  </div>
</form>
</section>