<section class="container">
    <div class="container">
        <div class="row">
    <div class="card w-100 text-center mb-4" style="background-color: rgb(255,255,255,.411);background-image: url('/images/flag-unscreen.gif');background-position: center;background-size: contain;background-repeat: no-repeat;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Ghosh Class <span style="color: orange;">Section</span></h4>
      <p class="card-text">നമസ്‌തെ, {{Admin.name}}</p>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <div class="text-center"><a href="/admin/ghosh-members" class="btn btn-color " style="width: 90%;">All Registered Users</a></div><br>
      <div class="text-center"><a href="/admin/addghoshclass" class="btn btn-color" style="width: 90%;">Add Class</a></div><br>
      <div class="text-center mb-3"><a href="/admin/joinclass" class="btn btn-color " style="width: 90%;">Join Class</a></div><br>
      </div>
    </div>
  </div>
        </div>
</section>