<section class="container">
<div class="container">
  <div class="row">
    <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">All <span style="color: orange;">App Users</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Shows All The Signuped Members Of This App</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/all-users" class="btn btn-color w-50" >All Users</a></div>
    </div>
  </div>

      <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">All <span style="color: orange;">Gurudakshina</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Shows All Gurudakshina's</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/gurudakshina" class="btn btn-color w-50" >All Gurudakshina</a></div>
    </div>
  </div>

        <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Blood<span style="color: red;"> Donators</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">See All Blood Donators</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/blood-donators" class="btn btn-color w-50" >Blood Donators</a></div>
    </div>
  </div>

          <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">All Refund<span style="color: orange;"> Forms</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">See All Refund Forms</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/refund" class="btn btn-color w-50" >See Now</a></div>
    </div>
  </div>

            <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">All<span style="color: orange;"> Feedbacks</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">See All User Feedbacks About App</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/get-feedbacks" class="btn btn-color w-50" >See Now</a></div>
    </div>
  </div>

      <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Ghosh <span style="color: orange;">Class</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Shows Admin Details Of Ghosh Class</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/ghoshclass" class="btn btn-color w-50" >Ghosh Class</a></div>
    </div>
  </div>

          <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Add <span style="color: orange;">Site Notification</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Can Add Site Notifications</p>
      <marquee behavior="" direction="">Click Below Button To Add Site Notification</marquee>
      <div class="text-center mb-3"><a href="/admin/add-site-notify" class="btn btn-color" >Add Notification</a></div>
    </div>
  </div>

        <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Add <span style="color: orange;">Users</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Can Add Blood Donators</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/add-user" class="btn btn-color w-50" >Add User</a></div>
    </div>
  </div>


    <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">App <span style="color: orange;">Contents</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Shows All The Contents Of The App.Once You Editted This Contents It Will Be Recorded</p>
      <marquee behavior="" direction="">Click Below Button To Edit The App Contents</marquee>
      <div class="text-center mb-3"><a href="/admin/contents" class="btn btn-color w-50" >Edit Contents</a></div>
    </div>
  </div>

      <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">All <span style="color: orange;">Need Blood Forms</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Shows All The Submitted Forms By The Users Who Wants Blood From Our App</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/need-blood" class="btn btn-color w-50" >See All</a></div>
    </div>
  </div>


      <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Add <span style="color: orange;">Latest Updates</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Can Add Latest Updates Details Of Latest Updates Page In UsersPage.</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/add-latest-updates" class="btn btn-color w-50" >Add</a></div>
    </div>
  </div>

    <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Add <span style="color: orange;">Karyakari / Baidak</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Can Add Karyakari / Baidak Details.</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/add-karyakari" class="btn btn-color w-50" >Add Karyakari</a></div>
    </div>
  </div>

      <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Get <span style="color: orange;"> Contact Us Form Data</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page shows All The Contact Us Form Submitted Datas..</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/get-contact" class="btn btn-color w-50" >See All</a></div>
    </div>
  </div>

    <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rssb.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
    <div class="card-body container">
      <h4 class="card-title mt-3">Add <span style="color: orange;"> Another Admin</span></h4>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">This Page Can Add Another Admin.If You Add Another Admin Your Name Is Recorded</p>
      <marquee behavior="" direction="">Click Below Button To See More</marquee>
      <div class="text-center mb-3"><a href="/admin/signup" class="btn btn-color w-50" >Add Admin</a></div>
    </div>
  </div>

</div>
</div>
</section>

{{#if updatesuccess}}
<div class="message" id="alert" >
  <span class="messageclosebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Success </strong>Successfully Submitted
</div>
{{/if}}

<script>
  window.addEventListener('load',()=>{
    setTimeout(()=>{
    document.getElementById("alert").classList.add("show1")
    },1000);
    setTimeout(()=>{
      document.getElementById("alert").classList.remove("show1");
      document.getElementById("alert").classList.add("hide1");
    },6000)
    setTimeout(()=>{
      document.getElementById("alert").style.display = "none";
    },8000)
  })
</script>