<style>
    body{
        font-size: x-small;
    }
</style>
<section class="container" >
    <h5 class="text-center mt-3">All Refund Forms</h5>
      <div class="table-responsive">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Reason</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.reason}}</td>
      <td>{{this.status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</section>