<style>
  .notify{
    transition: .4s;
  }
  @media  screen and (max-width:250px) {
    .notify{
      display: none;
    }
    
  }
</style>


  {{#if videomeet}}
  <nav class="navbar fixed-top  navbar-expand-lg navbar-light" style="background-color: #474e5d;font-family: 'Noto Sans JP', sans-serif;border-bottom: 2px solid orange;">  
  <a class="navbar-brand mr-auto" href="/" style="font-weight: 800; color: white; font-size: 1.2rem;">Rss <span style="color: orange;">Tvndr</span>Meet</a>
  <a href="/ended" class="navbar-brand ml-auto notify btn btn-danger" style="color: white;cursor: pointer;font-size: large;"><span><i class="fas fa-phone"></i> Leave</span></a>
  </nav> 


  {{else}}
<nav class="navbar fixed-top  navbar-expand-lg navbar-light" style="background-color: #474e5d;font-family: 'Noto Sans JP', sans-serif;border-bottom: 2px solid orange;">  
   <a class="navbar-brand mr-auto" style="font-size: large;cursor: pointer;" onclick="openNav()"><span><i class="fa fa-bars"></i> <span style="font-size: medium;">Menu</span></span></a>
  <a class="navbar-brand mr-auto ml-auto" href="/" style="font-weight: 800; color: white; font-size: 1.2rem;">Rss <span style="color: orange;">Tvndr</span> App</a>
  {{#if user}}
  <a href="/notifications" class="navbar-brand ml-auto notify" style="color: white;cursor: pointer;font-size: large;"><span><i class="fas fa-bell"></i></span></a>
  {{else}}
  <a href="tel:7306899364" class="navbar-brand ml-auto notify" style="color: white;cursor: pointer;font-size: large;"><span><i class="fas fa-phone"></i></span></a>
  {{/if}}
  </nav>  
  {{/if}}
 