<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
            <div class="text-left"><a href="/amrithavachanam" class="btn btn-color mt-2">Back</a></div>
          <h4 class="card-title mt-3">Guruji <span style="color: orange;">Amrithavachanam</span></h4>
          <img src="/images/guruji.jpg" alt="DrJi" class="img-fluid" style="width: 80px;height: 80px;border: 2px solid orange;">
          <hr>
          <h6 class="text-center"></h6>
          <h6>പരമ പൂജനീയ ഗുരുജി പറഞ്ഞു..,<br><hr><hr>
          <h6 class="text-center">

              “ഒരു പ്രവര്‍ത്തകന്‍ സ്വഭാവശക്തിയെ വാക്കിന്‍റെയും പെരുമാറ്റത്തിന്‍റെയും  മധുര്യത്തോടു സമ്മേളിപ്പി ക്കുബോള്‍ മാത്രമേ അയാള്‍ക്ക് എല്ലാവരേയും ഒരുമിച്ച് ഒരേ ഒരു കൂട്ടുകെട്ടില്‍ യോചിപ്പിച്ച് ഏതു വിഷമസന്ധിയില്‍ പോലും തന്‍റെ സഹപ്രവര്‍ത്തകരക്കാന്‍  കഴിയൂ.”<br><hr><hr>
♦
”ഇ വിഷയം അതികം വിശദീകരികാതെ ഇന്നത്തെ വിദ്യാഭ്യാസ സമ്പ്രദായത്തില്‍ അടിമുടി മാറ്റം വേണം എന്ന് പറഞ്ഞാല്‍ മതി ആകും. ധര്മത്തിന്റെ അടിസ്ഥാന തത്വങ്ങളും അവയെ ജീവിച്ചു കാണിച്ച മഹാന്മാരായ പൂര്‍വികരുടെ സച്ചരിതങ്ങളും രാഷ്ട്ര പൈതൃകത്തിന്റെ ഏറ്റവും ഉദാത്തം ആയ വശങ്ങളോട് കൂടി ജനതയുടെ സത്യസന്ധവും ശുദ്ധവുമായ ചരിത്രവും ഓരോ വിദ്യാര്‍ത്ഥിയും പടിപ്പികണം. ലളിതം ആയ യോഗ  ക്രിയകളിലൂടെ മനോ നിയന്ത്രണത്തിന്റെ ശാസ്ത്രം  ആവിശ്യം അഭ്യസിഭിപ്പികണം. ജീവിത  പരീക്ഷണങ്ങളെ വിജയകരം ആയി നേരിടാന്‍  അവനെ തയാരകുമാര് വിദ്യാഭ്യാസത്തിന്റെ  ശിഷ്ട്ട ഭാഗം സ്വഭാവികമായ് ദൈനം ദിന  ജീവതത്തിലെ വസ്തുതകലോടും ഓരോ  വ്യക്തിയുടെ അഭിരുചികലോടും ബന്ധപെട്ടത്  ആകണം . ആരഭം മുതല്‍ തന്നെ എല്ലാ  ബന്ധങ്ങളിലും ഉണ്ടാകുന്ന കര്തവ്യങ്ങളെ ഊനി  പറയുന്ന ഒന്നയിരികണം അത്. തികവുറ്റ കര്തവ്യബോധം ആണ് ഏറ്റവും മഹിമയാര്നത്. പക്ഷെ ,  സ്വാര്‍ത്ഥ ജടിലമായ ഇന്നത്തെ അന്തരീക്ഷത്തില്‍  അത് പ്രായോഗികം എന്ന് തോനുന്നിലെങ്കില്‍ , കര്‍ത്തവ്യം പരമ പ്രധാനം ആണ് എന്നും  വ്യക്തിയുടെയും വര്‍ഗത്തിന്റെയും  അവകാശങ്ങള്‍ അതിനൂട് ബന്ധപെട്ടതും അതിനെ ആശ്രയികുനതും അതിനെ അപേക്ഷിച്ച് ഗുണം  ആണ് എന്നാ പരമാര്‍ത്ഥം യുവമാനസുകളില്‍  ഗ്രഹണ ശീലം മുറ്റി നില്‍കുന്ന പ്രായത്തില്‍  ആവര്‍ത്തിച്ച്‌ ആവര്‍ത്തിച്ചു മുദ്രണം ചെയ്യണ്ടത് ആവശ്യം ആണ്. ”<br><hr><hr>
♦
”ശാരീരിക ശക്തി ആവശ്യമാണ്‌ , പക്ഷെ സ്വഭാവ ശുദ്ധി കൂടുതല്‍ പ്രാധാന്യം ഉള്ളതാണ്. അതായതു സ്വഭാവ ശുദ്ധി കൂടാതെയുള്ള ശക്തി മനുഷ്യനെ മൃഗമാക്കും. വ്യക്തിയുടെ നിലവാരത്തിലും രാഷ്ട്രത്തിന്റെ നിലവാരത്തിലും സ്വഭാവ ശുദ്ധിയാണ്‌ രാഷ്ട്ര വൈഭവത്തിന്റെയും മഹത്ത്വത്തിന്റെയും യഥാര്‍ത്ഥ ജീവ വായു.”<br><hr><hr>
♦
”നമ്മുടെ രാജ്യം ഇന്ന് ജനാതിപത്യ ഘടനയാണ് സ്വീകരിച്ചീട്ടുള്ളത്. ഈ ഏര്‍പ്പാട് വിജയപ്രടമാകണമേങ്ങില്‍  ജനസാമാന്യത്തിന് ശരിയായ വിദ്യാഭ്യാസ൦ കൊടുത്ത്പ്രഭുധമാക്കേണ്ടിയിരിക്കുന്നു. വെറും അക്ഷരാഭ്യാസം കൊടുത്തതു കൊണ്ട് മതിയാവുകയില്ല. രജ്യനീതി, സാമ്പത്തികം, തുടങ്ങിയ നമ്മുടെ ദേശിയ ജീവിതത്തിന്‍റെ വിവിധ വശങ്ങളെ സംബന്തിച്ചുള്ള ഉത്തര വാദിത്തങ്ങളെ പ്പറ്റിയും അവര്‍ക്കുള്ള പങ്കിനെപറ്റിയും അവര്‍ ഭോധവാന്‍മാര്‍ ആകെണ്ടിയിരിക്കുന്നു.”<br><hr><hr>
♦
“നമ്മുടെ ചുറ്റുപാടും വിഷക്കുന്നവരും നിരാലംബരുമായി ജീവിതത്തിന്‍റെ പ്രാഥമികാവശ്യങ്ങള്‍ പോലും നിഷേധിക്ക പ്പെട്ടവരായി, കല്ലുപോലുള്ള ഹൃദയത്തെപ്പോലും അലിയിക്കുന്ന ദയനീയകഥകളോട്കൂടിയ ലക്ഷോപലക്ഷം മനുഷ്യജീവികളുണ്ട്. ദരിദ്രരുടെയും അനാഥരുടെയും യാതനക്കാരുടെയും ആ രൂപങ്ങള്‍ കൈകൊണ്ടിട്ടുള്ളത് യഥാര്‍ഥത്തില്‍ ദൈവം തന്നെയാണ്.”<br><hr><hr>
♦
“നമ്മുടെ സംസ്കാരത്തിന്‍റെ ഉദാത്തവൈശിഷ്ട്യങ്ങളെ പുനരുജീവിപ്പിക്കുമ്പോള്‍ മാത്രമേ ജനങ്ങള്‍ നമ്മുടെ ദേശിയ ജീവിതത്തെ സംബതിച്ച വീക്ഷണത്താല്‍ പ്രചോദിതരായി ഇന്നത്തെ വ്യക്തിപരവും കുടുംബപരവും മറ്റുമായ സങ്കുചിത പ്രാദേശിക പരിഗണനകളുടെ തൊണ്ട് വെട്ടിപ്പോളിച്ച് സ്വഭാവശുദ്ധി, സേവനം, ത്യാഗം എന്നീകാര്യങ്ങളില്‍ ഉയര്‍ന്നുവരികയുളളൂ.”<br><hr><hr>
♦
“ഓരോവ്യക്തിയെയും ഉത്തമ ഹൈന്ദവ പൌരുഷത്തിന്‍റെ മാതൃകയായി കരുപ്പിടിപ്പിച്ച് സമസൃഷ്ടിയുടെ സജീവാംഗമാക്കി ത്തീര്‍ക്കുന്ന സമാജത്തിന്‍റെ സുസംഘടിതാവസ്തയാണ് നമ്മുടെ കാര്യസംബന്തമായ കാഴ്ചപ്പാട് . സംഘടനാപരമായ നമ്മുടെ സര്‍വസംരഭങ്ങള്‍ക്കും അതാണ് ജീവല്‍പ്രചോദനം.”<br><hr><hr>
♦
“നമ്മുടെ ഹിന്ദുരാഷ്ട്രസങ്കല്പം വറും രാജനൈതികവും സാബത്തികവുമായ അവകാശങ്ങളുടെ ഒരു സമാഹാരമല്ല. അത് തികച്ചും സാംസ്കാരികമായ ഒന്നാണ്. നമ്മുടെ പ്രാചീനവും ഉദാത്തവുമായ ജീവിതത്തിന്‍റെ സാംസ്കാരിക മൂല്യങ്ങളാണ് അതിന്‍റെ ജീവ വായു.”<br><hr><hr>
♦
“ആത്മനിരീക്ഷണം വഴിയായി ഒരു പ്രവര്‍ത്തകനു സംഘടിത ദേശിയ ജീവിതംനിര്‍മ്മിക്കുക യെന്ന ലക്ഷ്യവുമായി സാത്മ്യംപ്രാപിക്കുന്നതില്‍ താനെത്രകണ്ടു പുരോഗമിച്ചു. തന്‍റെ ചിന്തയിലും ഭാവത്തിലും പ്രവൃത്തിയിലും ആലക്ഷ്യം എത്രകണ്ടു തീവ്രമായി പ്രതിഫലിക്കുന്നു എന്നു തിരിച്ചറിയാന്‍ കഴിയും.”<br><hr><hr>
♦
“ഈനാടിനേക്കാള്‍ പവിത്രമായി നമുക്ക്‌ യാതൊന്നുമില്ല .ഇവിടത്തെ ഓരോ തരിമണലും സചേതനമോ അചേതനമോ ആയ ഏതൊരുവസ്തുവും, കല്ലും മരവും നദിയും അരുവിയും എല്ലാം തന്നെ നമുക്ക്‌ പവിത്രമാണ്. ഈ മണ്ണില്‍ ജന്മമെടുത്ത ഓരോ കുട്ടിയുടെയും ഹൃദയത്തില്‍ തീവ്രമായ ഈ ഭക്തിഭാവം എന്നെന്നും സജീവമായി നിലനിര്‍ത്തുവാനുതകുന്ന ചട്ടങ്ങളും വഴക്കങ്ങളും ഇവിടെ മുന്‍ബ്തന്നെ നടപ്പാക്കപ്പെട്ടു.”<br><hr><hr>
♦
“യജ്ഞമെന്നത് നമ്മുടെ സാംസ്‌കാരികപൈതൃകത്തില്‍ ഒരു മര്‍മ്മസ്ഥാനത്തിലാണിരിക്കുന്നത്. യജ്ഞാമെന്നതിന് അനേകം അര്‍ഥങ്ങള്‍ഉണ്ട്. സാമൂഹ്യപുനരുഥാനത്തിനുവേണ്ടി അവനവന്‍റെ വ്യക്തിജീവിതമര്‍പ്പിക്കുന്നതും യജ്ഞം തന്നെയാണ്.”<br><hr><hr>
♦
സേവന മനസ്ഥിതിയെയാണ് എക്കാലത്തും നമ്മുടെ നാട്ടിലെ മഹാത്മാക്കള്‍  ഈശ്വര ഭക്തിയുടെ ഏറ്റവും  ഉയര്‍ന്ന പ്രകടനമായി ഉയര്ത്തിപ്പിടിച്ചിട്ടുള്ളത്. <br><hr><hr>

“ഞാന്‍ രാജ്യമോ സ്വര്‍ഗമോ ആഗ്രഹിക്കുന്നില്ല. എല്ലാ ജീവജാലങ്ങളുടെയും ദുഖങ്ങളും ദുരിതങ്ങളും ദുരീകരിക്കാനാണ് എനിക്കാഗ്രഹം.”  എന്നതായിരുന്നു നമ്മുടെ പൂര്‍വ്വികരുടെ  പ്രാര്‍ത്ഥന. <br><hr><hr>

അതാണ് യഥാര്‍ത്ഥ സേവനത്തിന്റെ അന്തസ്സത്ത. ഇങ്ങനെയുള്ള ഒരാളുടെ നിരന്തര പ്രാര്‍ത്ഥന
“സേവനത്തിനായി കൂടുതല്‍ ശക്തിയും കഴിവും തരണേ” എന്നായിരിക്കും. അയാളുടെ ജീവിത സാഫല്യം തനിക്കു ദൈവം തന്നിട്ടുള്ളതെല്ലാം താന്‍ സേവനത്തിനായി സമര്‍പ്പിച്ചു എന്നതിലായിരിക്കും. <br><hr><hr>
♦
“വ്യക്തിപരമായ നന്മയും സ്വഭാവ ശുദ്ധിയും ദേശീയ താൽപ്പര്യത്തിൽ സക്രിയവും സജിവവുമായിരിക്കേണ്ടത് അത്യാവശ്യമാണ്. പേരോ പെരുമയോ മറ്റെന്തെങ്കിലും നേട്ടങ്ങളോ പ്രതിഫലമായി ഇച്ഛിക്കാതെ രാഷ്ട്രത്തിനു വേണ്ടി പരിപുർണ്ണ സമർപ്പണം ചെയ്താണ് അത് സാധിക്കേണ്ടത്. നമ്മുക്കുള്ളതെല്ലാം കാഴ്ചവെച്ച് രാഷ്ട്രദേവതയെ ആരാധിക്കുന്ന ഭാവനയോടെ പ്രവർത്തിക്കുന്നവരാണ് സ്വയം സേവകർ.” <br><hr><hr>
          </h6>
          <div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>