<style>
   @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
  body,h4,h3{
    font-family: 'Lilita One', cursive !important;
  }
</style>
<br>
<div class="text-center" style="background-color: #474e5d;color: white;height: 100vh;">
<img src="/images/rssbg.png" class="img-fluid" style="height: 200px;" alt="">
<h3>Error Occured !</h3>
<h3>This Page Not Found On The Server</h3>
<hr>
<a href="/" class="btn btn-color">Go To Home Page</a>
<h5 class="text-center mt-1 mb-1">Or</h5>
<a href="tel:7306899364" class="btn btn-color">Contact Us</a>
</div>