<div class="text-center" style="background-color: #474e5d;color: white;height: 100vh;">
<img src="/images/mask.png" class="img-fluid" style="height: 200px;" alt="">
<h1>404</h1>
<h4>This Page Not Found</h4>
<a href="/" class="btn btn-color">Go To Home Page</a>
</div>