    <style>
        .card-text{
            font-size: large;
        }

        @media screen and (max-width:700px) {
          .card-text{
              font-size: small;
          }
        }

    </style>
    
    
    
    <div class="card text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/omm.png');background-repeat: no-repeat;background-size: contain;background-position: center;font-size: xx-small;">
    <div class="card-body container">
      <h5 class="card-title mt-3" style="font-weight: 700;"> Rss <span style="color: #ec650b;">Tvndr</span> App</h5>
      <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
      <p class="card-text">App Current Version: 1.1.0</p>
      <p class="card-text">App Total Size: 6:00 MB</p>
      <p class="card-text">App Internal Storage: 410 KB</p>
      <p class="card-text">App Requirement: Notification</p>
      <p class="card-text">App Supporting System: Android, Windows</p>
      <p class="card-text">App Last Updated Date: 20/06/2021</p>
      <p class="card-text">App Devoloper Name: Hari Krishnan</p>
      <p class="card-text">App Used Languages: Nodejs,Express,Hbs</p>
      <p class="card-text">App Type: PWA App</p>
      <p class="card-text">App Supporting Browser: All Browsers</p>
      <p class="card-text">App Installation Supporting Browsers: Google Chrome, Microsoft Edge</p>
    <div class="text-center"><a href="tel:7306899364" class="btn btn-color text-fluid mb-3" style="width: 90%;">Contact App Devoloper</a></div>
    </div>
  </div>