<style>
    .eshaka{
        font-size: medium;
    }

    @media screen and (max-width:700px) {
        .eshaka{
            font-size: xx-small;
        }
    }
</style>


<section class="eshaka container">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
          <h2 class="card-title mt-3" style="font-size: medium;">Online <span style="color: orange;">Shaka</span></h2>
          <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
          <p>നമസ്‌തെ , Online ഇ-ശാഖാ എല്ലാ ശാഖയിലും  അവസാനിച്ചിരിക്കുന്നു, എപ്പോൾ എല്ലാ ശാഖയും Covid Protocol പാലിച്ചുകൊണ്ട് ആരംഭിച്ചിരിക്കുന്നു </p>
        </div>
      </div>
      </div>
    </div>
</section>