<style>
    .eshaka{
        font-size: medium;
    }

    @media screen and (max-width:700px) {
        .eshaka{
            font-size: xx-small;
        }
    }
</style>


<section class="eshaka container">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4" style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
          <h4 class="card-title mt-3" style="font-size: medium;">Online <span style="color: orange;">Shaka</span></h4>
          <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
          <p class="card-text">നമസ്‌തെ, Rss Tvndr അവതരിപ്പിക്കുന്ന Online ശാഖാ ഇന്നു മുതൽ ആരംഭിക്കുന്നു.നമസ്‌തെ, താഴെ കാണുന്ന Join Now ബട്ടൺ ക്ലിക്ക് ചെയ്തു Online Shakahayill പങ്കെടുക്കുക.</p>
          <p class="card-text"><span>Shaka: Samyuktha Vidhyardhi</span><br>
          <span>Date: 06/06/2021</span><br>
          <span>സമയം: 5:30Pm to 6:00Pm</span><br>
          <span>പങ്കെടുക്കേണ്ടവർ: <span><br>
          <span>Akhil (Mukhyashikshak)</span><br>
          <span>Ananthu Harish (Shikshak)</span><br>
          <span>Rahul (Gadanayak)</span><br>
          <span>Anujith (Gadanayak)</span><br>
          <span>Hari Krishnan (Gadanayak)</span><br>
          <span>ഗണഗീതം: Hari Krishnan</span><br>
          <span>സുഭാഷിതം: </span>
          </span>
          </span></p>
          <p class="card-text"></p>
          <div class="text-center mb-3"><a 
              class="btn btn-color w-50">No Shakha</a></div>
        </div>
      </div>
      </div>
    </div>
</section>