<style>
    .firebaseui-container {
        background-color: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color: rgba(0, 0, 0, .87);
        direction: ltr;
        font: 16px Roboto, arial, sans-serif;
        margin: 0 auto;
        max-width: 40%;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 90%;
        top: 107px;
    }

    @media screen and (max-width: 480px) {
        .firebaseui-container {
            box-shadow: none;
            max-width: none;
            width: 90% !important;
        }
    }

    .firebaseui-dialog .firebaseui-id-dialog {
        position: fixed !important;
        top: 0 !important;
        height: 30px !important;
        width: 100% !important;
    }

    button[type=submit] {
        background-color: orange !important;
        color: #fff !important;
    }

    .mdl-button--primary {
        color: orange !important;
    }

    .success {
        color: hsl(120, 78%, 42%);
    }


    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: green;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    }

    .checkmark {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: green;
        stroke-miterlimit: 10;
        margin: auto;
        box-shadow: inset 0px 0px 0px #7ac142;
        animation: fill 1.5s ease-in-out 1.5s forwards, scale 1s ease-in-out 2s both;
    }

    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke .9s cubic-bezier(0.65, 0, 0.45, 1) .9s forwards;
    }

    @keyframes stroke {
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes scale {

        0%,
        100% {
            transform: none;
        }

        50% {
            transform: scale3d(1.1, 1.1, 1);
        }
    }

    @keyframes fill {
        100% {
            box-shadow: inset 0px 0px 0px 30px transparent;
        }
    }
</style>


<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyDa7kAbnzyjhrJioZLGfYTeXmJLZ5O0H6I",
        authDomain: "otp-for-rss-tvndr-app.firebaseapp.com",
        projectId: "otp-for-rss-tvndr-app",
        storageBucket: "otp-for-rss-tvndr-app.appspot.com",
        messagingSenderId: "1060314624112",
        appId: "1:1060314624112:web:7669108e97a65ca54084b5",
        measurementId: "G-9NL0PN73ZS"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

<script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.css" />
<div id="container">

    <div id="loading">Loading...</div>
    <div id="loaded" class="hidden">
        <div id="main">
            <div id="user-signed-in" class="hidden text-center mt-4">
                <h4>Rss Tvndr Forgotton Password <span style="color: rgb(115, 238, 115);"> Verification</span><img
                        src="/images/tick1.jpg" class="img-fluid" height="50px" width="50px" alt=""></h4>
                <div id="user-info">
                    <h6><span id="phone"></span></h6>
                    <h6>Recaptcha Verification: Success </h6>
                    <hr>
                    <div id="ver" style="display: none;">
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                        <h6 class="mt-4 mb-3">User Verified</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <p>
                <form id="changePassword" style="display: none;">
                    <h6>Click The Below Button To Change Your Password</h6>
                    <input type="hidden" name="phone" id="phone1" readonly required>
                    <div class="form-group text-center container">
                    <input type="text" placeholder="Enter New Password" style="width: 80%;" class="form-control ml-auto mr-auto" name="password" id="password" required>
                    </div>
                    <input type="submit" id="submitbutton1" class="btn btn-color mb-3" value="Change Your Password"> <br>
                </form>
                <button id="sign-out" class="btn btn-color">Cancel</button>
                </p>
            </div>
            <div id="user-signed-out" class="hidden">
                <div id="firebaseui-spa">

                    <div id="firebaseui-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function getUiConfig() {
        return {
            'callbacks': {
                'signInSuccess': function (user, credential, redirectUrl) {
                    handleSignedInUser(user);
                    return false;
                }
            },
            'signInFlow': 'popup',
            'signInOptions': [

                // firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                {
                    provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
                    recaptchaParameters: {
                        type: 'image',
                        size: 'invisible',
                        badge: 'bottomleft'
                    },
                    defaultCountry: 'IN',
                    defaultNationalNumber: '1234567890',
                    loginHint: '+11234567890'
                }
            ],
            'tosUrl': 'https://www.google.com'
        };
    }

    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    var handleSignedInUser = function (user) {
        // User is signed in.
        var displayName = user.displayName;
        var email = user.email;
        var emailVerified = user.emailVerified;
        var photoURL = user.photoURL;
        var uid = user.uid;
        var phoneNumber = user.phoneNumber;
        var providerData = user.providerData;
        document.getElementById('user-signed-in').style.display = 'block';
        document.getElementById('user-signed-out').style.display = 'none';
        document.getElementById('phone').textContent = phoneNumber ? "Phone: " + phoneNumber : "Error Occured";
        document.getElementById('phone1').value = phoneNumber ? phoneNumber.slice(3) : "Error Occured";
        document.getElementById("ver").style.display = "block";
        document.getElementById("changePassword").style.display = "block";
        setTimeout(()=>{
        document.getElementById("ver").style.display = "none"
        },2000)
        // user.getIdToken().then(function(accessToken) {
        // document.getElementById('account-details').textContent = JSON.stringify({
        //  displayName: displayName,
        //  email: email,
        //  emailVerified: emailVerified,
        //   phoneNumber: phoneNumber,
        //     photoURL: photoURL,
        //       uid: uid,
        //         accessToken: accessToken,
        //         providerData: providerData
        //       }, null, '  ');


        //  });

    };

    var handleSignedOutUser = function () {
        document.getElementById('user-signed-in').style.display = 'none';
        document.getElementById('user-signed-out').style.display = 'block';
        ui.start('#firebaseui-container', getUiConfig());
    };

    firebase.auth().onAuthStateChanged(function (user) {
        document.getElementById('loading').style.display = 'none';
        document.getElementById('loaded').style.display = 'block';
        user ? handleSignedInUser(user) : handleSignedOutUser();
    });



    var initApp = function () {
        document.getElementById('sign-out').addEventListener('click', function () {
            firebase.auth().signOut();
        });
    };

    setTimeout(()=>{
        firebase.auth().signOut();
    },1000000)


    window.addEventListener('load', initApp);

</script>

<script>
    $("#changePassword").submit((e) => {
        e.preventDefault();

        document.querySelector("#submitbutton1").value = "Loading...";

        $.ajax({

            url: '/change-password',
            method: 'POST',
            data: $('#changePassword').serialize(),
            success: (response) => {
               if(response.status){
                   window.location.href = "http://localhost:3000/password-changed"
               }
            }

        })
    })
</script>