<style>
    @media screen and (min-width:600px) {
        .img-fluid{
            height: auto !important;
        }
        .card-text{
            font-size: larger;
        }
    }
</style>
<section class="container text-center">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4 container"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">    
        <div class="card-body container">
          <h4 class="card-title mt-3">Rss Shaka <span style="color: orange;">Gallery</span></h4>
          <hr>
          <h6 class="card-text text-center">ഭാരത മാതാവ്</h6><br>
          <img src="/images/rssbg.png" alt="Loading" class="img-fluid" style="width: 90%;height: 150px;">
          <hr>

          <h6 class="text-center card-text">സര്‍സംഘചാലക്</h6>
          <img src="/images/dr.ji.jpg" alt="Loading" class="img-fluid" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guruji.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/Madhukar Dattatraya Deoras 3rd.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/Rajendra Singh.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/K S Sundareshan 5th.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/Mohan Bhagawat.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;"><hr>

          <h6 class="text-center card-text">ശ്രീ ഗുരുജി – അപൂർവ ചിത്രങ്ങൾ</h6>
          <img src="/images/guru1.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru2.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru3.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru4.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru5.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru7.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
          <img src="/images/guru8.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
        <hr>

        <h6 class="text-center card-text">റിപ്പബ്ലിക് ദിന പരേഡ് – 1963 <br>
(പൂർണ്ണ ഗണവേഷധാരികളായ 3500 സ്വയംസേവകർ)</h6>
          <img src="/images/parade.jpg" alt="Loading" class="img-fluid mt-2" style="width: 70%;height: 150px;border: 3px solid #ff7b00e1;">
        <hr>
        <h6 class="text-center">&copy; Rss Tvndr App</h6>
        </div><br>
      </div>
        </div>
    </div>
</section>