<script>
  document.querySelector("input[type='tel']"").value = "20"
</script>
  
  <section class="container text-center">
<h5>Rss <span style="color: orange;">Tvndr</span> App <span style="color: orange;">Payment</span><img src="/images/tick1.jpg" class="img-fluid" width="50px" height="50px" alt="tick"></h5>
<small>Safe & Secure Payment</small>
<p class="mt-4 text-center">നമസ്തേ താഴെ കാണുന്ന (PAY NOW) ബട്ടൺ  ക്ലിക്ക് ചെയ്തു ഓൺലൈൻ ഗുരുദക്ഷിണ ചെയ്യുക</p>
<div class="text-center">
  <h6>Name: {{payment.name}}</h6>
  <h6>Amount: ₹{{payment.amount}}</h6>
<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HX63uUL3VfAiIo" data-prefill.amount.amount="{{payment.amount}}" data-prefill.phone.Phone="{{payment.phone}}" async> </script> </form>
  </div>
</section>
