<section class="container">
    <div class="container">
        <div class="row">
                          <div class="card w-100 text-center mb-4"
        style="background: rgba(255, 255, 255, 0.411)  url('/images/sangh.png') no-repeat center;background-size:contain;">
        <div class="card-body container">
          <h4 class="card-title mt-3" style="font-size: medium;"> Shakha <span style="color: #ec650b;">Karyakarthakkal</span></h4>
          <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
          <p class="card-text">Thiruvanvadoor ശാഖയുടെ എല്ലാ ശാഖാ കാര്യകര്താക്കളെയും കാണുവാൻ താഴെ കാണുന്ന ബട്ടൺ ക്ലിക്ക് ചെയ്യുക</p>
          <marquee behavior="" direction="">Rss Tvndr ശാഖയുടെ എല്ലാ Updatsukalum ഈ ആപ്പിൾ ലഭ്യമാണ് </marquee>
          <div class="text-center mb-3"><a href="/karyakarthakal" class="btn btn-color w-50">See More</a></div>
        </div>
      </div>
        </div>
    </div>
</section>