<style>
    @media screen and (max-width:600px) {
        .datas{
            font-size: xx-small;
        }
    }
</style>
<section class="container">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 datas"
                style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/rsbg.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="card-body container">
                    <h4 class="card-title mt-3" style="font-size: medium;">Shakha <span
                            style="color: orange;">Karyakarthakkal</span></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Rss Tvndr Shaka</h6>
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">പേര്</th>
                                <th scope="col">ചുമതല</th>
                                <th scope="col">ശാഖാ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>V.P Aji</td>
                                <td>ശാഖാ കാര്യവാഹ് </td>
                                <td>പ്രൗഢ ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>P.Prem</td>
                                <td>ശാഖാ കാര്യവാഹ് </td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Arjun.G</td>
                                <td>ശാഖാ കാര്യവാഹ് </td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>R.D.Rajeev</td>
                                <td>മുഖ്യ ശിക്ഷക്</td>
                                <td>പ്രൗഢ ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>G.Vishal</td>
                                <td>മുഖ്യ ശിക്ഷക്</td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Rohit Rajan</td>
                                <td>മുഖ്യ ശിക്ഷക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Ananthu Anil</td>
                                <td>മുഖ്യ ശിക്ഷക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Ranjith</td>
                                <td>ശിക്ഷക്</td>
                                <td>പ്രൗഢ ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Gokul Krishnan</td>
                                <td>ശിക്ഷക്</td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Ab Vishnu</td>
                                <td>ശിക്ഷക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Gishnu Paniker</td>
                                <td>ശിക്ഷക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>Anathu Harish</td>
                                <td>ശിക്ഷക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>Hari Krishnan P.U</td>
                                <td>ശിക്ഷക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>N.T.Hari</td>
                                <td>ഘടനയ്ക്</td>
                                <td>പ്രൗഢ ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>T.V Vigesh</td>
                                <td>ഘടനയ്ക്</td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>Hari Krishnan</td>
                                <td>ഘടനയ്ക്</td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">16</th>
                                <td>Akshay</td>
                                <td>ഘടനയ്ക്</td>
                                <td>വ്യവസായി ശാഖാ</td>
                            </tr>
                            <tr>
                                <th scope="row">17</th>
                                <td>Vishnu V.H</td>
                                <td>ഘടനയ്ക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">18</th>
                                <td>Rahul R</td>
                                <td>ഘടനയ്ക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">19</th>
                                <td>Vinu</td>
                                <td>ഘടനയ്ക്</td>
                                <td>തരുന്ന വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>Anujith O.L</td>
                                <td>ഘടനയ്ക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">21</th>
                                <td>Rahul Rajeev</td>
                                <td>ഘടനയ്ക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">22</th>
                                <td>Karthik R</td>
                                <td>ഘടനയ്ക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">23</th>
                                <td>Shabari Nath</td>
                                <td>ഘടനയ്ക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                            <tr>
                                <th scope="row">20</th>
                                <td>Navaneeth A.K</td>
                                <td>ഘടനയ്ക്</td>
                                <td>സംയുക്ത വിദ്യാർഥി</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
</section>