<link rel="stylesheet" href="/stylesheets/undermaintaince.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

<div class="container text-center">
   <div class="card" style="height: 100%;">
    <div class="card-body">

    <h3 class="mt-4">This Page Is Under Construction</h3>
    <div class="text-center"><a href="tel:7306899364" class="btn btn-color">Contact Us</a></div>
    <div class="animation text-center">
     <div class="one spin-one"></div>
     <div class="two spin-two"></div>
     <div class="three spin-one"></div>
    </div>
      <div id="countdown">
    <ul>
      <li><span id="days"></span>days</li>
      <li><span id="hours"></span>Hours</li>
      <li><span id="minutes"></span>Minutes</li>
      <li><span id="seconds"></span>Seconds</li>
    </ul>
  </div>
  <br>
    <p>This Rss Ghosh Class Section Is Under Maintaince For Online Ghosh Class By Sreenish G.You Will Be Notified When The Updation Completes</p>
   <br><p>&copy; Rss Tvndr App</p>
  </div>
    </div>
</div>


<script>
    (function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  let birthday = "jun 23, 2021 00:00:00",
      countDown = new Date(birthday).getTime(),
      x = setInterval(function() {    

        let now = new Date().getTime(),
            distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
          document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
          document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
          document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          let headline = document.getElementById("headline"),
              countdown = document.getElementById("countdown"),
              content = document.getElementById("content");

          headline.innerText = "It's my birthday!";
          countdown.style.display = "none";
          content.style.display = "block";

          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
</script>