<div class="container text-center">
    <h5 class="mt-4">August മാസ ശാഖാ ഗണഗീതം, സുഭാഷിതം, അമൃതവചനം</h5>
    <hr>
    <h6>ഗണഗീതം സുഭാഷിതം , അമൃതവചനം</h6>
<br>
<p class="text-center">Er</p>

{{!-- <a href="https://rsstvndrapp.herokuapp.com/images/August.pdf" class="btn btn-color mb-2 w-100">See Now</a>
<a href="https://drive.google.com/u/0/uc?id=1f3HKXHlDB5BBzhkSTlJcTmlKovyMrvVY&export=download" class="btn btn-color w-100">Download Now</a> --}}
<br>
<hr>
<p>&copy; Rss Tvndr App</p>
</div>