<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container text-center">
          <h4 class="card-title mt-3"> Rss <span style="color: orange;">Prardhana</span></h4>
          <hr>
          <h6>
നമസ്തേ സദാ വത്സലേ മാതൃഭൂമേ <br>
ത്വയാ ഹിന്ദുഭൂമേ സുഖം വര്ധിതോഹമ് <br> 
മഹാമങ്ഗലേ പുണ്യഭൂമേ ത്വദര്ഥേ <br>
പതത്വേഷ കായോ നമസ്തേ നമസ്തേ <br>
പ്രഭോ ശക്തിമന്‌ ഹിന്ദുരാഷ്ട്രാങ്ഗഭൂതാ <br>
ഇമേ സാദരം ത്വാം നമാമോ വയമ് <br>
ത്വദീയായ കാര്യായ ബധ്ദാ കടീയം <br>
ശുഭാമാശിഷം ദേഹി തത്പൂര്തയേ <br>
അജയ്യാം ച വിശ്വസ്യ ദേഹീശ ശക്തിം <br>
സുശീലം ജഗദ്യേന നമ്രം ഭവേത് <br>
ശ്രുതം ചൈവ യത്കണ്ടകാകീര്ണ മാര്ഗം <br>
സ്വയം സ്വീകൃതം നഃ സുഗം കാരയേത് <br>
സമുത്കര്ഷനിഃശ്രേയസ്യൈകമുഗ്രം <br>
പരം സാധനം നാമ വീരവ്രതമ് <br>
തദന്തഃ സ്ഫുരത്വക്ഷയാ ധ്യേയനിഷ്ഠാ <br>
ഹൃദന്തഃ പ്രജാഗര്തു തീവ്രാനിശമ്‌ <br>
വിജേത്രീ ച നഃ സംഹതാ കാര്യശക്തിര് <br> 
വിധായാസ്യ ധര്മസ്യ സംരക്ഷണമ്‌ <br> 
പരം വൈഭവം നേതുമേതത്‌ സ്വരാഷ്ട്രം <br>
സമര്ഥാ ഭവത്വാശിശാ തേ ഭൃശമ് <br>
ഭാരത മാതാ കീ ജയ് <br><br>
<hr>
Real version: <br>

।। प्रार्थना ।।नमस्ते सदा वत्सले मातृभूमे <br>
त्वया हिन्दुभूमे सुखं वर्धितोहम् । <br>
महामङ्गले पुण्यभूमे त्वदर्थे <br>
पतत्वेष कायो नमस्ते नमस्ते ।।१।। <br>

प्रभो शक्तिमन् हिन्दुराष्ट्राङ्गभूता <br>
इमे सादरं त्वां नमामो वयम् <br>
त्वदीयाय कार्याय बध्दा कटीयं <br>
शुभामाशिषं देहि तत्पूर्तये । <br>
अजय्यां च विश्वस्य देहीश शक्तिं <br>
सुशीलं जगद्येन नम्रं भवेत् <br>
श्रुतं चैव यत्कण्टकाकीर्ण मार्गं <br>
स्वयं स्वीकृतं नः सुगं कारयेत् ।।२।। <br>
समुत्कर्षनिःश्रेयस्यैकमुग्रं <br>
परं साधनं नाम वीरव्रतम् <br>
तदन्तः स्फुरत्वक्षया ध्येयनिष्ठा  <br>
हृदन्तः प्रजागर्तु तीव्रानिशम् । <br>
विजेत्री च नः संहता कार्यशक्तिर् <br>
विधायास्य धर्मस्य संरक्षणम् । <br>
परं वैभवं नेतुमेतत् स्वराष्ट्रं <br>
समर्था भवत्वाशिषा ते भृशम् ।।३।। <br>
भारत माता की जय ।। <br><br>
<hr>
          </h6>
          <div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>