<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.toggle-password {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -25px;
    color: black;
}

</style>
   
   <section style="background-color: #474e5d;color: white;" class="container"> 
    <h3 class="text-center mt-5">Create An Account</h3>
        {{!-- <p class="text-center mt-2">You Didn't Have A Account Fill The Below Form And Click The Submit Button If You Want To Create An Account In Our Website or Else Click The "I Have An Account" Button To Login If You Already Have A Account</p> --}}
    <p class="text-center">Powered By,Rss Tvndr</p>
    <div class="text-center">
      <a href="/login" class="btn btn-color mb-3">I Have An Account</a>
    </div>
    <form action="/signup" method="POST">
    {{#if loginErr}}
    <div class="container text-center" style="width: 90%;">
      <p style="background-color: #dc3545;border-radius: 5px;">താങ്കൾക്ക് ഈ Appill ഒരു Account ഇല്ല . താഴെ കാണുന്ന Form Fill ചെയ്തു ഒരു Account Create ചെയുക.</p>
    </div>
    {{/if}}

    <div class="form-group">
     <i class="fas fa-user-alt" style="left: 0;padding-right: 3px;"></i>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" class="form-control"  placeholder="Enter Your Name" required>
  </div>
  <div class="form-group">
     <i class="fas fa-phone" style="left: 0;padding-right: 3px;"></i>
    <label for="phone">Phone</label>
    <input id="phone" max="10" min="10" autocomplete="mobile" type="tel" name="phone" class="form-control" placeholder="Enter Your Phone Number" required>
  </div>
    <div class="form-group">
     <i class="fas fa-user-alt" style="left: 0;padding-right: 3px;"></i>
    <label for="age">Age</label>
    <input id="age" type="number" name="age" class="form-control" placeholder="Enter Your Age" required >
  </div>
    <div class="form-group">
     <i class="fas fa-heartbeat" style="left: 0;padding-right: 3px;"></i>
    <label for="blood">Blood</label>
    <select name="blood" class="form-control" required>
        <option value="" disabled selected>Choose Your Blood Group...</option>
        <option>A+ve</option>
        <option>A-ve</option>
        <option>B+ve</option>
        <option>B-ve</option>
        <option>AB+ve</option>
        <option>AB-ve</option>
        <option>O+ve</option>
        <option>O-ve</option>
    </select>
  </div>
    <div class="form-group">
     <i class="fas fa-lock" style="left: 0;padding-right: 3px;"></i>
    <label for="password">Choose A Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Choose A Password" required>
    <i class="toggle-password fa fa-fw fa-eye-slash"></i>
    <small id="emailHelp" class="form-text text-muted">Choose A Password For Your Account</small>
  </div>
  <input type="submit" value="Submit" onclick="changeText()"  id="submitbtn"  class="btn btn-color w-100 mb-5">
</form>

</section>


<script>
  $(".toggle-password").click(function() {
    $(this).toggleClass("fa-eye fa-eye-slash");
    input = $(this).parent().find("input");
    if (input.attr("type") == "password") {
        input.attr("type", "text");
    } else {
        input.attr("type", "password");
    }
});
</script>