
<section class="container">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4 container"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="text-left"><a href="/" class="btn btn-color mt-2">Back</a></div>
        <div class="card-body container">
          <h4 class="card-title mt-3"> Rss Shaka <span style="color: orange;">Subhashitham</span></h4><hr>
          <h6>
” അപ്യല്പ ശക്തരില്‍ പര്‍ത്തെ
തഥാല്‍പ വിഷയ സ്യജ
സുസംഹത സ്യരാഷ്ട്രസ്യ
നിയതാ വിശ്വ മാന്യത ” <br><br>

കുറഞ്ഞ ബലമുള്ളതും കുറച്ചു മാത്രം സമ്ര്ഥിയുള്ളതും വളരെ ചെറിയ ഭുപ്രദേശമുള്ളതുമായാല്‍ പോലും സുസംഘടിതമായ രാഷ്ട്രത്തിന്ലോകത്തിന്‍റെ ബഹുമാനം നിശ്ചിതമാണ്‌
<br>
<hr><hr> <br><br>

” ധന ധാന്യ സുസബന്നം
സ്വര്‍ണ്ണ രത്നാതി സംഭവം 
സുസംഹര്‍ത്തിം വിനാ രാഷ്ട്രം 
നഹിസ്യത് ശൂന്യ – വൈഭവം ” <br><br>

ധന ധാന്യങ്ങള്‍കൊണ്ട് സുസംബന്നവും സ്വര്‍ണത്തിന്‍റെയും രത്നത്തിന്‍റെയും ഘനികള്‍കൊണ്ട് സബുഷ്ടവുമാണെങ്ങില്‍ കുടി സംഘടിത സമാജമില്ലാതെ രാഷ്ട്രത്തിന്പരം വയ്ഭവം സാധ്യമാകില്ല
<br>
<hr><hr> <br><br>

” ധൃതിക്ഷമാ ദമോ സ്തേയം
ശൌചമിന്ദ്രിയ നിഗ്രഹ :
ധീര്‍ വിദ്യാ സത്യമക്രോധോ 
ദശകം ധര്‍മ്മലക്ഷണം “ <br><br>
                                 (മനുസ്മൃതി)

ധൈര്യം , സഹനശക്തി , അടക്കം , മോഷണമില്ലായ്മ ,പരിശുദ്ധി,ഇന്ദ്രിയനിഗ്രഹം ,പരിശുദ്ധമായ മനസ് ,വിദ്യ,സത്യം ,കൊപമില്ലായ്മ ഇവ പത്തുംആണ് ധര്‍മത്തിന്‍റെ ലക്ഷണങ്ങള്‍
<br>
<hr><hr><br><br>

”  ഉദ്യമം സാഹസം ധൈര്യം
ബുദ്ധി ശക്തിപരാക്രമൌ
ഷഡേതെ യത്രവര്‍ത്തന്തേ
ദൈവം തത്രപ്രകാശയേത്  “ <br><br>

കര്‍മനിരത, സാഹസികത, ധൈര്യം, ബുദ്ധി,  ശാരീരിക  ശക്തി , വെല്ലുവിളിഏറ്റെടുക്കാനുള്ള മനോഭാവം. ഈ ആറു കഴിവുകളുള്ള വ്യക്തിക്ക് സ്വാഭാവികമായും ഈശ്വരാനുഗ്രഹമുണ്ടാകും.
<br>
<hr><hr> <br><br>

ഗ്രാമസ്യ സേവയാ നൂനം
സേവാ ദേശസ്യ സിദ്ധതി
ദേശസേവാ ഹി ദേവസ്യ
സേവാ ത്ര പരമാര്‍ത്ഥത: <br><br>

വാസ്തവത്തില്‍ ഗ്രാമസേവനത്തിലൂടെ മാത്രമേ ദേശസേവനം സാധ്യമാകൂ,
അതുപോലെ ദേശസേവനമാണ്  യഥാര്‍ത്ഥത്തിലുള്ള ഈശ്വരസേവനം.
<br>
<hr><hr><br><br>

” വിവേക: സഹസമ്പത്യ
വിനയോ വിദ്യയാ സഹ
പ്രഭുത്വം പ്രശ്രയോപേതം
ചിഹ്ന മേതന്‍ മഹാത്മനാം ” <br><br>

സമ്പത്തിനോടൊപ്പം വിവേകം, വിദ്യയോടൊപ്പം
വിനയം, ശക്തിയോടൊപ്പം സൗമനസ്യം 
ഇവ മഹാ പുരുഷന്‍മാരുടെഅടയാളമാകുന്നു.
<br>
<hr><hr> <br><br>

“അപ്രകടീകൃത ശക്തി ശക്ത്യോപി
ജനസ് തിരസ്ക്രിയാം ലഭതേ
നിവസന്‍ അന്ദര്‍ധാരുണീ ലംഘ്യോ
വഹ്നിര്‍ നതു ജ്വലിത:”<br><br>

ശക്തിശാലിയെങ്കിലും തന്‍റെ ശക്തിയെ യഥാ സമയം പ്രകടിപ്പിക്കാത്തവന്‍ അപമാനിതനായി തീരുന്നു. മരത്തിനുള്ളില്‍ സ്ഥിതി  ചെയ്യുന്ന അഗ്നി  നിസ്സാരനെങ്കിലും ജ്വലിക്കാന്‍ തുടങ്ങിയാല്‍ ഒരിക്കലും നിസ്സാരനല്ല.
<br>
<hr><hr><br><br>

“കൃതപ്രത്യുപകാരോഹി
വണിക് ധര്‍മ്മോ ന സാധുതാ
തത്രാപി യേന കുര്‍വന്തി
പശവസ്തേ ന മാനുഷ:”<br><br>

ഒരാള്‍ ചെയ്ത ഉപകാരത്തിനു പ്രത്യുപകാരംചെയ്യുന്നത് ഒരു വ്യാപാരിയുടെചുമതലയാണ്. അത് സജ്ജനങ്ങളുടെലക്ഷണമല്ല.
(സജ്ജനങ്ങളുടെ ലക്ഷണംഒന്നുംപ്രതീക്ഷിക്കാതെ ഉപകാരംചെയ്യുന്നതാണ്).
പ്രത്യുപകാരം പോലും ചെയ്യാത്തവര്‍മനുഷ്യരല്ല,അവര്‍ മൃഗങ്ങളാണ്.
<br>
<hr><hr><br><br>

” ഉത്സാഹോ ബാലവാനാര്യ
നാസ്ത്യുത്സാഹാത് പരം ബലം
സോത്സാഹസ്യ ഹി ലോകേഷു
ന കിഞ്ചിദപി ദുഷ്കരം “<br><br>

അല്ലയോ ശ്രേഷ്ഠ! ഉത്സാഹംശക്തിയുള്ളതാണ്. ഉത്സാഹത്തേക്കാള്‍ വലിയബലം ഇല്ല. ഉത്സാഹം ഉള്ളയള്‍ക്ക്,ദുഷ്ക്കരമായി ഒന്നുമില്ല.
<br>
<hr><hr><br><br>

“ആയുര്‍ കര്‍മ്മച വിത്തം ച
വിദ്യാ നിധനമേവച
പന്ജൈതേ നനു കല്പ്യന്തേ
ഗര്‍ഭഗത്വേന ദേഹിനാം” <br><br>

ഒരാളുടെ ആയുസ്സ്‌ ,അയാളുടെ കര്‍മ്മമണ്ഡലം, സമ്പത്ത്‌, വിദ്യാഭ്യാസം, മരണംഎന്നീ 5 കാര്യങ്ങള്‍ നമ്മുടെകയ്യിലല്ല. ഇതൊക്കെ ജനിക്കുന്നതിനു മുന്പേ തന്നെതീരുമാനിക്കപ്പെടുന്നതാണ്.
<br>
<hr><hr><br><br>

“അപകാരിഷു മാ പാപം
ചിന്തയസ്വ മഹാമതേ
സ്വയമേവ ഹി നശ്യന്തി
കൂലജാതാ ഇവ ധ്രുമ: “ <br><br>


അല്ലയോ മഹാമതേ , ബുദ്ധിശാലി ,എന്നുംപീഡനം
ചെയ്യുന്ന വ്യക്തിയെ കുറിച്ചുചിന്തിച്ചു നാം
നമ്മുടെ ജീവിതംപാഴാക്കരുത്.അവര്‍ സ്വയം
നശിച്ചു പോകും, നദിയുടെഅറ്റത്തുള്ള
മരങ്ങളെപോലെ അവര്‍ താനേകടപുഴകും
<br>
<hr><hr> <br><br>

“അര്‍ഥാനാമാര്‍ജനേ ദുഃഖം
ആര്‍ജിതാനാം തുരക്ഷണേ
ആയേ ദുഃഖം വ്യയേ ദുഃഖം
അര്‍ഥ കിം ദുഃഖ ഭാജനം “ <br><br>

സമ്പത്ത് ആര്‍ജിക്കാന്‍ വേണ്ടി നാം ദുഃഖിക്കുന്നു.  ആര്‍ജിച്ച സമ്പത്ത് സംരക്ഷിക്കാനും നാം  ദുഃഖിക്കുന്നു. (സമ്പത്ത് മോഷ്ടാക്കള്‍ കവരുമോ  എന്നിങ്ങനെ ഭയം നിമിത്തമുള്ള ദുഃഖം) . അതായത്, സമ്പാദിക്കാനും നാം ദുഃഖിക്കുന്നു, ചിലവാക്കുമ്പോഴും നാം ദുഃഖിക്കുന്നു. ചുരുക്കിപറഞ്ഞാല്‍ – സമ്പത്താണ്‌ ദുഖത്തിന്  കാരണം.
<br>
<hr><hr><br><br>

” ധനേന കിം യോ ന ദദാതി നാശ്നുതേ
ബാലേന കിം യച്ച രിപുന്‍ ന ബാധതേ
ശ്രുതേന കിം യോ ന ച ധര്‍മ്മമാചരേത്
കിമാത്മനാ യോ ന ജിതേന്ത്രിയോ  ഭവേത്  “ <br><br>

കൊടുക്കുകയോ അനുഭവിക്കുകയോ ചെയ്യാത്ത ധനം കൊണ്ടെന്തു ഗുണം ? ശത്രുക്കളെനേരിടാന്‍ കഴിയാത്ത ബലം കൊണ്ടെന്തുകാര്യം .ധര്‍മമാ ചരണ ത്തിനുതകാത്തവേദ ജ്ഞാനം  കൊണ്ടെന്തു ഫലം ? ഇന്ത്രി യങ്ങളെ നിയന്ത്രിക്കാന്‍ കഴിയാത്തവന് ആത്മജ്ഞാനം കൊണ്ടെന്തുഫലം ?
<br>
<hr><hr> <br><br>

” കോ‌ തി ഭാരഃ സമര്‍ത്ഥാനാം
കിം ദൂരംവ്യവസായിനാം
കോ വിദേശഃ സവിദ്യാനാം
കഃ പരഃ പ്രിയവാദിനാം “ <br><br>

കഴിവുള്ളവന് അതി ഭാരമായിട്ടുള്ളത് എന്താണ് ? പ്രയത്നശീലന്‍മാര്‍ക്ക് ദൂരം എന്താണ് ? വിദ്യാഭ്യാസമുള്ളവര്‍ക്ക് വിദേശമേതാണ് ? പ്രിയം പറയുന്നവന് അന്യന്‍ ആരാണ് ?
<br>
<hr><hr> <br><br>

”പരോക്ഷേ കാര്യഹന്താരം  
പ്രത്യക്ഷേ പ്രിയവാദിനം
 വര്‍ജ്ജയെതാദൃശം മിത്രം
വിഷകുംഭം പയോമുഖം ” <br><br>

പുറമേ പറയും പഥ്യം. അകമേ ചതി ചെയ്തിടും.
അവനെ മിത്രമാക്കായ്ക പാല്‍തൂകും വിശാകുംഭംപോല്‍ .
<br>
<hr><hr><br><br>

” മനോ ധവതി സാര്‍വത്ര
മദോന്മത്ത ഗജെന്ദ്രവത്
ജ്ഞാനാങ്കുശ സമാബുദ്ധി :
തത്ര നിശ്ചലതേ മന :”<br><br>

എല്ലായിടത്തും മനസ്സ് മദിച്ച ആനയെപ്പോലെ പായുന്നു .യാതോരിടത്ത് ജ്ഞാനമാകുന്ന തോട്ടി ഉള്‍കൊള്ളുന്ന ബുദ്ധി യുണ്ടോ അവിടെമനസ് നിയന്ത്രിതമായിത്തീരുന്നു.
<br>
<hr><hr><br><br>

” ഇഹമേം കിം നു കര്‍ത്തവ്യം
കര്‍ത്തവ്യം കിമസ്തി ച
ഇതി ചിന്തയാതാം പും സാം
കര്‍മ്മ ശുദ്ധം ഭവേദ് ധ്രുവം. “<br><br>

 ലോകത്ത് എന്‍റെ കര്‍ത്തവ്യം എന്താണ് ,ഞാന്‍ എന്ത് ചെയ്യണം എന്ത് ചെയ്യരുത് എന്ന് ചിന്തിക്കുന്നവന്‍റെ കര്‍മങ്ങള്‍ ശുധങ്ങളായി തീരുന്നു എന്നത് തീര്‍ച്ചയാണ്.</h6>
         <hr> <div class="text-center"><p>&copy; Rss Tvndr App</p></div><br>
        </div>
      </div>
        </div>
    </div>
</section>