<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
            <div class="text-left"><a href="/amrithavachanam" class="btn btn-color mt-2">Back</a></div>
          <h4 class="card-title mt-3">Swami Vivekanandhan <span style="color: orange;">Amrithavachanam</span></h4>
          <img src="/images/vivekanandha.png" alt="DrJi" class="img-fluid" style="width: 80px;height: 80px;border: 2px solid orange;">
          <hr>
          <h6 class="text-center"></h6>
          <h6>സ്വാമി വിവേകാനന്ദന്‍ പറഞ്ഞു..,<br><hr><hr>
          <h6 class="text-center">
              ”ബ്രാതാക്കളെ.നമുക്കെല്ലാവര്‍ക്കു൦ കഠിനമായി പ്രയത്നിക്കാം. ഉറങ്ങാനുള്ള സമയമല്ല ഇത്. ഭാവി ഭാരതത്തിന്‍റെ ക്ഷേമം നമ്മുടെ യാത്നത്തെ ആശ്രയിച്ചിരിക്കുന്നു. അവിടെ ഭാരതം നമ്മെ കാത്തുനില്‍ക്കുന്നു ഉണരുക ! എഴുന്നേല്‍ക്കുക ! നമുക്ക് നമ്മുടെ മത്രുഭുമിയെ മഹനീ യമായ സ്വന്തം സിംഹാസനത്തില്‍ ഇരുത്താ൦”<br><hr><hr>
♦
”ധര്‍മ മതികള്‍ ദുഷിച്ച ആചാരങ്ങളെയും നിയമങ്ങളെയും വകവക്കുന്നില്ല. തല്‍സ്ഥാനത്ത് സ്നേഹത്തിന്‍റെയും സഹാനുഭാവത്തിന്‍റെയും സത്യസന്തതയുടെയും എഴുതപ്പെടാത്ത അധികം പ്രാബല്യമുള്ള നിയമങ്ങള്‍ അംഗീകരിക്കുന്നു. നിയമ പുസ്തകങ്ങളുടെ ആവശ്യ മില്ലെന്നുതന്നെ പറയാവുന്നതും സ്ഥാപനങ്ങള്‍ ചിന്താവിഷയങ്ങള്‍ അല്ലാത്തതുമായ ഒരു രാഷ്ട്രം സന്തുഷ്ടി നിറഞ്ഞതാണ്. നല്ലയാളുകള്‍ സര്‍വനിയമങ്ങള്‍ക്കുമുപരി ഉയര്‍ന്ന് തങ്ങളുടെ സഹജീവികളെ, ഏതു ചുറ്റുപാടില്‍ നിന്നായാലും ഉയരാന്‍ സഹായിക്കുന്നു ”<br><hr><hr>
♦
”ഒരു രാഷ്ട്രം പുരോഗമിക്കുന്നത് അവിടെ യുള്ള സാമാന്യജനങ്ങളില്‍ വിദ്യാഭ്യാസവും ഭുദ്ധിശക്തിയും പ്രവേശിക്കുന്നതിന്‍റെ തോതനുസരിചായിരിക്കും എന്ന് ഞാന്‍ കണ്മുന്‍പാകെ കാണുന്നു. ഭാരതത്തിന്‍റെ നാശത്തിനുള്ള മുഖ്യ ഹേതു എല്ലാ വിദ്യയും ബുദ്ധിയും രാജ്യാധികാരവും പദവിയും ഉപയോഗിച്ച് ഒരു പിടിആളുകള്‍ കുത്തക ആക്കി വച്ചുഎന്നതാണ്. വീണ്ടും നാം ഉണരണമേങ്ങില്‍ പൊതുജനങ്ങള്‍ ക്കിടയില്‍ വിദ്യപ്രേജരിപ്പിക്കുക തന്നെ വേണം.”<br><hr><hr>
♦
”നമ്മുടെ പ്രത്യക്ഷദൈവമായ ഹിന്ദുസമാജത്തോടുള്ള ഭക്തിക്കു തടസമായി നില്‍ക്കുന്ന മനസ്സിലെ ശിധിലീകരണ വികാരങ്ങള്‍എല്ലാം തന്നെ ത്യജിക്കേണ്ടതുണ്ട്. എന്തെന്നാല്‍ അവ അവശജനതയുടെ ആന്തരീകൈക്യത്തെ ഉയര്‍ത്തിപ്പിടിക്കുകയും ബലപ്പെടുത്തുകയും ചെയ്യുകയെന്ന നമ്മുടെ പരമ കര്‍ത്തവ്യത്തിന്‍റെ മാര്‍ഗത്തില്‍ വിഘ്നങ്ങള്‍ ആണ്’.”<br><hr><hr>
♦
”ദേഹദൌബല്യമാണ് നമ്മുടെ ദുരിതങ്ങള്‍ക്ക് ക്കാരണം . അലസരാണ് നാം. നമുക്ക് ഒന്നും ചെയ്യാന്‍ വയ്യ. ആദ്യം നമ്മുടെ യുവാക്കന്‍മ്മാര്‍ ശക്തരാകണം. എന്‍റെ യുവ മിത്രങ്ങളെ ശക്തരാക്കുവിന്‍ .അതാണെന്‍റെ ഉപദേശം.”<br><hr><hr>
♦
“മലപോലെയുള്ള പ്രതിബന്ധങ്ങളെ തരണം ചെയ്യാന്‍ നിങ്ങള്‍ക്ക് കരുത്തുണ്ടോ? ലോകം മുഴുവന്‍ കയ്യില്‍ വാളുമേന്തി നിങ്ങളെ എതിര്‍ത്താലും ശരിയെന്നു തോനുന്നത് ചെയ്യാന്‍ നിങ്ങള്‍ ധൈര്യപ്പെടുമോ ? ഭാര്യയും കുട്ടികളും എതിര്‍ത്താലും പണം പോയാലും പോര് പോലിഞ്ഞാലും സമ്പത്ത് മറഞ്ഞാലും നിങ്ങള്‍ അതില്‍ത്തന്നെ ഉറച്ചുനില്‍ക്കുമോ? നിങ്ങള്‍ അതിനെ പിന്തുടര്‍ന്ന് പതറാതെലക്ഷ്യത്തിലേക്ക് പോകുമോ? എങ്കില്‍ നിങ്ങള്‍ ഓരോരുത്തരും അത്ഭുതം സൃഷ്ട്ടിക്കും.”<br><hr><hr>
♦
“നമ്മുടെ വികാരത്തെ നാം കടിഞ്ഞാണഴിച്ചുവിടുമ്പോള്‍ ശക്തി പാഴാക്കുകയും നാഡികള്‍ തളര്‍ത്തുകയും മനസിനെ ക്ലേശിപ്പിക്കുകയും ചെയ്യുന്നു. കാര്യമായ പ്രയോജനം ഇല്ലതാനും. പ്രവര്‍ത്തനവുമായി രൂപാന്തരം പ്രാപിക്കേണ്ടിയിരുന്ന ശക്തി ശക്തിപ്രയോജനമില്ലാത്ത വികാരമായി പാഴായിപ്പോകുന്നു.മനസ്സ് ശാന്തവും കേന്ത്രീകൃതാവുമായിരിക്കുമ്പോഴേ അതിന്‍റെ മുഴുവന്‍ ശക്തിയും പ്രവര്‍ത്തനത്തിനുപയോഗപ്പെടുന്നുള്ളൂ.”<br><hr><hr>
♦
“നിങ്ങള്‍ പ്രവര്‍ത്തിച്ചുതുടങ്ങുവിന്‍, അപ്പോള്‍ നിങ്ങള്‍ക്ക് താങ്ങുവാന്‍ കഴിയാത്തവിധം പ്രചണ്ഢമായ ശക്തി നിങ്ങളില്ലേക്ക് പ്രവഹിക്കുന്നത്കാണാം. അന്യര്‍ക്ക് വേണ്ടി ചെയ്യുന്ന ഏറ്റവും ചെറിയ കാര്യം പോലും ഉള്‍ക്കരുത്തുണര്‍ത്തുന്നു. മറ്റുള്ളവരുടെ നന്മക്ക് വേണ്ടിയുള്ള നേരിയചിന്തപോലും ഹൃദയത്തില്‍ ക്രമേണ സിംഹത്തിന്‍റെ ബാലമുണ്ടാക്കുന്നു.”<br><hr><hr>
♦
“മനുഷ്യനെ മാത്രമല്ല, അതിനപ്പുറം കടന്ന് മൃഗങ്ങളെയും സസ്യജാലങ്ങളെകൂടിയും ഉള്‍ക്കൊള്ളുമ്മാറ് മാനവഹൃദയം വികസിച്ചത് ഇവിടെയാണ്. ഇവിടെ മാത്രമാണ്. ഉത്തുംഗവും അനന്തവുമായി വളര്‍ന്ന ഇവിടത്തെ മാനവഹൃദയത്തില്‍ ഏറ്റവും വലിയ ദൈവം മുതല്‍ കൊച്ചു മണല്‍ത്തരിവരെ, ഉച്ചമായതും നീചമായതും ഒരുപോലെ സ്ഥാനം പിടിക്കുന്നു. പ്രപഞ്ചത്തെ ആവിഛിന്നമായ അസ്തിത്വമെന്ന രൂപത്തില്‍ പഠിച്ച്, അതിന്‍റെ നാഡിമിടിപ്പ് അവന്‍റെസ്വന്തം നാഡിമിടിപ്പ് തന്നെയാണെന്ന് മനുഷ്യാത്മാവ് സാക്ഷാല്‍കരിച്ചത് ഇവിടെ മാത്രമാണ് .”<br><hr><hr>
          </h6>
          <div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>