<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">പരമപവിത്രമതാമീ മണ്ണിൽ…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        പരമപവിത്രമതാമീ മണ്ണിൽ ഭാരതാംബയെപൂജിക്കാൻ
                        പുണ്യവാഹിനീ സേചനമേല്ക്കും പൂങ്കാവനങ്ങളുണ്ടിവിടെ, പൂങ്കാവനങ്ങളുണ്ടിവിടെ. (2) <br><br>

                        ഇലയും ഇതളും പൂവും മൊട്ടും ഇറുത്തെടുത്തര്പ്പിച്ചീടാൻ
                        തലകുമ്പിട്ടുതരും പൂങ്കൊമ്പുകള്തഴച്ചുവളരുന്നുണ്ടിവിടെ
                        അടിമുടിസേവനവാസനവിതറിഅമ്മയ്ക്കര്പ്പിച്ചീടാനായ്പലനിറമെങ്കിലുമൊറ്റമനസ്സായ്വിടര്ന്നിടുന്നൂമുകുളങ്ങള് <br>
                        (പരമപവിത്ര..) <br><br>

                        ഭഗത്സിംഹനുംഝാന്സിയുമിവിടെപ്രഭാതഭേരിമുഴക്കുന്നൂ
                        ശ്രീനാരായണനരവിന്ദന്മാര്ഇവിടെകോവില്തുറക്കുന്നു,
                        രാമകൃഷ്ണനുംരാമദാസനുംഇവിടെനിവേദിച്ചീടുന്നു
                        ഇവിടെവിവേകാനന്ദസ്വാമികള്ബലിഹവ്യംതൂവീടുന്നു, ബലിഹവ്യംതൂവീടുന്നു. <br>
                        (പരമപവിത്ര) <br><br>

                        അവരുടെശ്രീപീഠത്തില്നിത്യംനിര്മ്മാല്യംതൊഴുതുണരാനായ്
                        ഇവിടെതളിരിടുമൊരൊറ്റമൊട്ടുംവാടിക്കൊഴിഞ്ഞുവീഴില്ല.
                        അവരുടെധന്യാത്മാവവിരാമംതഴുകീടുന്നീയാരാമം
                        ഇവിടെവരൂഈകാറ്റൊന്നേല്ക്കൂഇവിടെഭാരതമുണരുന്നു, ഇവിടെഭാരതമുണരുന്നു. <br>
                        (പരമപവിത്ര) 
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>