<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">അകലെയല്ലാ പൊന്നുഷസ്സിന്‍…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        അകലെയല്ലാ പൊന്നുഷസ്സിന്‍ സുഖദമാം പ്രത്യാഗമം
ഇരുള്‍ മറച്ചൊരു സൂര്യതേജസ്സൊളിപരത്തും ശുഭദിനം
അമൃതകലശം പേറിയെത്തും ദേവതാഗണസംഗമം
വരികകൂട്ടായാദിമഹസ്സിന്‍ പൊന്‍രഥം വരവേല്‍ക്കുവാന്‍ (2) <br><br>

ഭാര്‍ഗ്ഗവന്‍ മഴുവാല്‍ സമുദ്രം വെട്ടിനീക്കിയ പൌരുഷം
ശങ്കരന്‍ സര്‍വ്വജ്ഞപീഠം കയറിനിന്നൊരു വൈഭവം
ഭേദഭാവന പിഴുതെറിഞ്ഞൊരു ഗുരുജനത്തിന്‍ സാധന
വരികകൂട്ടായാദിമഹസ്സിന്‍ പൊന്‍രഥം വരവേല്‍ക്കുവാന്‍ (2) <br>
(അകലെയല്ലാ…) <br><br>

ഭാരതപ്പുഴ രാമകഥയാല്‍ സരയുവാക്കിയ തൂലിക
പൌരുഷം പടവാളിളക്കിയ പുരളിമലതന്‍ ഗര്‍ജ്ജനം
ആത്മബലിയാലാര്‍ഷഭാരത ഗരിമകാത്തപരാക്രം
വരികകൂട്ടായാദിമഹസ്സിന്‍ പൊന്‍രഥം വരവേല്‍ക്കുവാന്‍ (2) <br>
(അകലെയല്ലാ…) <br><br>

നവഭഗീരഥസംഘമായിരം അതിവിശുദ്ധ തപസ്സിലും
ഋഷികുലങ്ങള്‍ പടുത്തുയര്‍ത്തിയ ധര്‍മ്മബോധ തികവിലും
പുതിയ ഭാരതമാരചിയ്ക്കാന്‍ അണികള്‍ ചേര്‍ന്നണയുന്നിതാ
വരികകൂട്ടായാദിമഹസ്സിന്‍ പൊന്‍രഥം വരവേല്‍ക്കുവാന്‍ (2) <br>
(അകലെയല്ലാ…) 
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>