<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ലോകത്തിന്‍ ബഹുമാനബിന്ദുവായ്‌…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
ലോകത്തിന്‍ ബഹുമാനബിന്ദുവായ്‌ ഭരതഭൂ പുനരുയരാനായ്
സംഘം ചേരും കര്മവീരരാം നരകേസരികള്‍ വേണമഹോ<br><br>
പൂത്തിങ്കള്‍ പാരിടമെന്പാടും വെള്ളിനിലാവൊളി വീശുമ്പോള്‍
കോളും കാര്‍മേഘങ്ങള്മെങ്ങും കാളിമയാലെ മൂടുമ്പോള്‍<br><br>
അലകളുണര്‍വ്വിന്‍ താളമടിക്കും കേറുമിരമ്പി കടലലപോല്‍
ധീമാനുണ്ടോ സുഖ ദുഖങ്ങളിലാടുക യഥവാ വാടുകയോ?<br><br>
കര്‍മയോഗിതന്‍ മുന്നേറ്റത്തില്‍ പാട്ടിന്നവവെറുമീരടികള്‍ <br>
(സംഘം ചേരും…….) <br><br>
ഇലയൊന്നടരും നേരം വിടരും മറ്റൊന്നതിനെ പിന്തുടരാന്‍
ആയതിനാല്‍ മരമെന്നും വളരും തളരും പാന്ഥനു തണലേകാന്‍<br><br>
പേരും പെരുമയും കരുതാതെ മരണം പോലും കൂസാതെ
കര്‍മപഥത്തില്‍ കാലൂന്നാന്‍ കഴിവത് ജീവിതസാഫല്യം<br><br>
അതുതാനല്ലോ കര്ത്തവ്യത്തിന്‍ സത്യസനാതന സന്ദേശം <br>
(സംഘം ചേരും…)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>