<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">രക്ഷാ ബന്ധന മഹോത്സവം…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        രക്ഷാ ബന്ധന മഹോത്സവം
സൌഹൃദ ഭാരത ദിനോത്സവം <br>
(രക്ഷാ ബന്ധന മഹോത്സവം ) <br><br>

ഭാരത സംസ്കൃതിയീപൊന്‍നൂലില്‍
ഓരോയിഴയും പാടീടുന്നു
ത്യാഗശക്തിയും ദേശഭക്തിയും
ഐക്യമാര്‍ഗവും നല്‍കും നാള്‍ <br>
(രക്ഷാ ബന്ധന മഹോത്സവം ) <br><br>

ധീരന്‍മാരാം  ദേശഭക്തര്‍ തന്‍
ചോരകൊടുത്തിതു പാവനമാക്കി
ജനനീ സോദരിമാരുടെ പേരില്‍
പ്രതിജ്ഞ ചെയ്യും പൊന്‍ തിരുനാള്‍ <br>
(രക്ഷാ ബന്ധന മഹോത്സവം ) <br><br>

രാജസ്ഥാനിലെ ഓരോ മണലും
ഗദ്ഗദപൂര്‍വ്വമുരച്ചീടുന്നു
സോദരിമാരുടെ മാനം കാക്കാന്‍
ജീവന്‍ ത്യജിച്ചോരക്കഥകള്‍ <br>
(രക്ഷാ ബന്ധന മഹോത്സവം ) <br><br>

ഖണ്ഡിതമാകിയ ഭാരതഭു‌വിനെ
വീണ്ടുമഖണ്ഡിതമാക്കിത്തീര്‍ക്കാന്‍
കങ്കണമണിഞ്ഞു ഹൈന്ദവവീരര്‍
പോര്‍ക്കളമണയും ജയോത്സവം <br>
(രക്ഷാ ബന്ധന മഹോത്സവം )
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>