<section class="container text-center">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4 container"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
        <div class="card-body container">
          <h4 class="card-title mt-3">പ്രവാസിയായ്‌ പ്രണീതരായി…..</h4>
          <hr>
          <h6 class="card-text mb-3 container">
            പ്രവാസിയായ്‌ പ്രണീതരായി
            സംഘകാര്യ വൃത്തിയായ്
            നിരന്തരം ചരിച്ചിടാം
            നിതാന്ത കര്‍മ്മ വ്യഗ്രരായ് (2…) <br><br>

            സദാ ചരിക്ക ജീവിതം സദാ ചലിപ്പു വിഷ്ടപം
            ചരൈവേതി പാടിയോര്‍ നമുക്ക് മാര്‍ഗ്ഗദര്‍ശകര്‍
            അനന്തദീപ്ത സാധനാപഥത്തിലായ്‌ കരള്തുടി-
            പ്പുയര്ത്തിടുന്ന താളമൊത്ത് നീങ്ങിടാം നിരന്തരം <br>

            (നിരന്തരം) <br><br>

            വിശാലമിപ്പഥങ്ങളില്‍ ‍ചരിച്ചു മാധ്വശങ്കരര്‍
            നരേന്ദ്രമാധവാദിയോര്‍ നമസ്തസപ്തയോഗികള്‍
            യുഗങ്ങളുറ്റുനോക്കുമപ്പവിത്രപാദമുദ്രകള്‍
            നമുക്കു മാര്‍ഗ്ഗദര്‍ശകം നമുക്കു സ്ഫൂര്ത്തിദായകം <br>

            (നിരന്തരം)<br><br>

            കടന്നുചെല്‍കയെങ്ങുമേ നഗരഗ്രാമഭാവമായ്
            നിറഞ്ഞിടുന്ന ജീവിതത്തുടിപ്പുകള്‍ തിരഞ്ഞു നാം
            അതില്‍ പകര്‍ന്നൊഴിക്ക ദേശസ്നേഹഭാവധാരകള്‍
            കൊളുത്തിവയ്ക്ക ശുദ്ധധ്യേയബോധമാം വിളക്കുകള്‍<br>

            (നിരന്തരം)<br><br>

            സമഗ്രഭാവമാര്‍ന്നൊരീ പ്രകാശധാരഭാരതം
            നിറഞ്ഞയാഗകുണ്ഡമായ് പ്രദീപ്തമാര്ത്തുതിങ്ങവേ
            നവോര്‍വ്വരത്വസര്‍ഗ്ഗശക്തിയലയടിച്ചു പൊങ്ങുമാ
            രാഷ്ട്ര വൈഭവം കൊതിച്ചു നീങ്ങിടാം നിരന്തരം<br>

            (നിരന്തരം)
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>