<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">പാവന ഭാരതമേ…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
പാവന ഭാരതമേ, വെല്‍ക സുരമുനി പൂജിതമേ <br><br>

ഋഷി മഹാനൃപതികള്‍ യോഗികള്‍, ത്യാഗികള്‍
ബലിദാനം ചെയ്തദേശം, ലോകസുഖപഥം
സ്വയമായോതിയ മാനവസുഖദേശം… വെല്‍ക. <br>
(പാവന) <br><br>

ജീവിതകുസുമം സാധനാവേദിയില്‍
അർച്ചനം ചെയ്തിടും ഹിന്ദു, ശ്രീകേശവപഥം
മാധവദൃഢവ്രതം  സംഘടനാമന്ത്രം…  ധ്യേയം. <br>
(പാവന)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>