<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">നമസ്‌കരിപ്പൂ ഭാരതമങ്ങേ…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        നമസ്‌കരിപ്പൂഭാരതമങ്ങേസ്‌മരണയെയാനമ്രം
നമസ്‌കരിപ്പൂകേശവ, ഭാരതഭാഗ്യവിധാതാവേ <br> (നമസ്‌കരിപ്പൂ) <br><br>

എരിഞ്ഞുനീറിനിന്നുടെഹൃദയംതിങ്ങിടുമഴലാലേ
ചൊരിഞ്ഞുകണ്ണീരിരവുംപകലുംഹൃദയവ്യഥയാലേ
ഉഴിഞ്ഞുവെച്ചുജീവിതമഖിലംജനനീചരണത്തില്‍
പ്രതിജ്ഞചെയ്തുപുനരധിഭാരതവിജയക്കൊടിനാട്ടാന്‍
ഭാരതവിജയക്കൊടിനാട്ടാന്‍ <br>
(നമസ്‌കരിപ്പൂ) <br><br>

ഭവാന്റെയുല്‍ക്കടതപോവനത്തില്‍ തടസ്സമുണ്ടാക്കാന്‍
‍ജഗത്തിലുണ്ടോമായാബന്ധംജീവന്മുക്തന്‍ നീ
വിശുദ്ധമാംനിന്‍ ജീവിതദീപംരാഷ്ട്രപ്രേമത്തിന്‍
‍വെളിച്ചമേകാന്‍ നിമിഷംതോറുംകത്തിയെരിച്ചുനീ
മഹാശയകത്തിയെരിച്ചുനീ <br>
(നമസ്‌കരിപ്പൂ) <br><br>

ജനിച്ചനാള്‍ തൊട്ടന്തിമനിമിഷംവരെയുംത്യാഗനിധേ
ഭവാന്റെജന്മംവിശ്രമശൂന്യംകണ്ടകസങ്കീര്‍ണം
അനാദിനാളായണയാതെരിയുംരാഷ്ട്രബലിത്തീയില്‍
‍സ്വജീവപുഷ്പംസ്വന്തകരത്താലാഹുതിചെയ്തുനീ
മഹാശയആഹുതിചെയ്തുനീ <br>
(നമസ്‌കരിപ്പൂ) <br><br>

ഭവാനൊരാളന്നിന്നുലക്ഷം, നിന്നിതുവന്മരമായ്‌
അതിന്റെസാന്ദ്രഛായയിലുലകംസമാശ്വസിക്കുന്നു
വെളിച്ചമേല്‍ക്കാതനിശംബീജംശ്വാസംമുട്ടേണം
മുളച്ചുപൊങ്ങിപുഷ്പംചൂടാന്‍, പാരിനുതണലേകാന്‍
എന്നുംപാരിനുതണലേകാന്‍ <br>
(നമസ്‌കരിപ്പൂ) <br><br>

മറഞ്ഞുപോയ്‌ നിന്‍ സ്ഥൂലശരീരംമായാലോകത്തില്‍
നിലച്ചുപോയ്‌ നിന്‍ ഭൗതികശബ്ദംമാനവകര്‍ണ്ണത്തില്‍
‍യഥാര്‍ത്ഥരാഷ്ട്രപ്രേമികള്‍ ചൊരിയുംബാഷ്‌പജലത്താലേ
പവിത്രമാംനിന്‍ സ്‌മരണമഹാശയഞങ്ങള്‍ക്കാലംബം
എന്നുംഞങ്ങള്‍ക്കാലംബം <br>
 (നമസ്‌കരിപ്പൂ) <br><br>

മരിച്ചുപോയ്‌ നീഅണുവണുവായിഞങ്ങള്‍ക്കുയിരേകാന്‍
ജ്വലിച്ചുനീയീഞങ്ങള്‍ക്കുയരാന്‍ മാര്‍ഗംകാണിക്കാന്‍
വിശിഷ്‌ടമാംനിന്‍ ജീവിതമുജ്‌ജ്വലമാശയഗംഭീര്യം
പവിത്രമുഗ്രംമരണാതീതംഞങ്ങള്‍ക്കാലംബം
എന്നുംഞങ്ങള്‍ക്കാലംബം  <br>
(നമസ്‌കരിപ്പൂ) <br><br>

അതാകിഴക്കന്‍ മലകളിലരുണിമകളഭംപൂശുന്നു
പ്രപഞ്ചമേതോസത്യയുഗത്തിന്‍ പ്രതീക്ഷകൊള്ളുന്നു
അജയ്യശക്തിത്തികവാര്‍ന്നുയരുംഭാരതഭാവിഗുരോ
ഭവാന്റെദുര്‍ഗ്രഹജീവിതതത്വംവാഴ്ത്തിപ്പാടീടും
എന്നുംവാഴ്ത്തിപ്പാടീടും <br>
(നമസ്‌കരിപ്പൂ)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>