<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ഒരു വരത്തിനു വേണ്ടി മാത്രം…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        ഒരു വരത്തിനു വേണ്ടി മാത്രം വ്രതമെടുത്തവരാണു നമ്മള്‍
അതിനു ജീവിതമാകമാനം സ്വയമുഴിഞ്ഞവരാണു നമ്മള്‍ <br><br>

ഇഷ്ടദേവതയൊന്നു മാത്രം ദിവ്യഭാരത മാതൃഭൂമി
ബീജമാന്ത്രമുപാസനക്കായ് നാം ജപിപ്പതു സംഘമന്ത്രം
പൂക്കളായ്‌ വിടരാന്‍ തുടങ്ങും തരുണകോമള ജീവിതങ്ങള്‍
ബലമുദാത്തസുശീലമെന്നീ ഗുണമിയന്നവരാണു നമ്മള്‍ <br><br>

വിവിധ ഭാഷകള്‍ വേഷ ഭൂഷാ സഹിതമെന്കിലുമേക രാഷ്ട്രം
വിപുലമാണ് വിദൂരമാണെന്നാകിലും പരമേകഗാത്രം
കോടി കോടി ജനങ്ങള്‍ നമ്മുടെ ഉള്ളിലൊഴുകുവതേക രക്തം
ഇവയിലൂന്നിയുറച്ചു നില്‍ക്കാന്‍ പ്രതിദിനം കടിബദ്ധര്‍ നമ്മള്‍ <br><br>

ഇവിടെയന്ധതയജ്ഞതക്കും അവശതക്കും ചിതയൊരുക്കാന്‍
ഭേദഭാവനയുച്ചനീച  സ്ഥാനമെന്നിവ ചുട്ടെരിക്കാന്‍
ഏക ചേതന മാത്രമാണീ സര്‍വമെന്നത് സത്യമാക്കാന്‍
തീവ്ര ദീര്‍ഘ തപസ്സു ചെയ്യും നവ ഭഗീരഥരാണു നമ്മള്‍ <br><br>

പ്രബലശക്തികള്‍ നാലുപാടും   വിജയഭേരിയടിച്ചിടുമ്പോള്‍
ഗ്രഹഗ്രഹാന്തരയാത്രചെയ്തീ വിപുല വിശ്വമടക്കിടുമ്പോള്‍
ശാസ്ത്രസിദ്ധികള്‍ നേടിയെങ്ങും  വിസ്മയം വിരചിച്ചിടുമ്പോള്‍
പുതുയുഗപ്പിറവിക്കുവേണ്ടും വഴി തെളിപ്പവരാണു നമ്മള്‍
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>