<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ഹിന്ദുക്കള്‍ നാമൊന്നാണേ…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        ഹിന്ദുക്കള്‍ നാമൊന്നാണേ.. (3 ) <br> <br>

പരം പൊരുളൊന്നെ രണ്ടില്ല ഉണ്മയുമൊന്നെ പലതില്ല
ഹരിയും ഹരനും ഹരിഹരസുതനും അതിനുടെ പലതാം രൂപങ്ങള്‍
ദര്‍ശകരനവധിയുണ്ടാകാം ദര്‍ശനവിവിധതയുണ്ടാകാം
എങ്കിലുമഖിലരുമൊന്നായൊഴുകും ഹിന്ദുഭഗീരഥി ഒന്നാണെ <br><br>

‘ആമരമീമര’ മെന്നോതി അമരത നേടിയ വനവേടന്‍
കടത്തുകാരനെ കെട്ടിപ്പുണരും കനനഗാമീ ഭൂപാലന്‍
അരയത്തിപ്പെൺ  പെറ്റമകന്‍ വേദം നാലായ് പകുത്തവന്‍
പറച്ചി പെറ്റൊരു പന്തിരുകുലവും തോള്‍ചേര്‍ന്നമരും നാടാണേ <br><br>

അജ്ഞരെയവശരെ ആര്ത്തരെ നാം തുണചെയ്തൊപ്പമുയര്ത്തീടാം
അവരുടെയുള്ളിലുറഞ്ഞു നശിക്കും അനന്ത ശക്തിയുണര്ത്തീടാം
അന്ത്യജനഗ്രജനില്ലിവിടെ വര്‍ഗം വര്‍ണം അരുതിവിടെ
സകലരുമമ്മയ്ക്കോമനമക്കള്‍ ബന്ധുക്കള്‍ നാമൊന്നാണേ <br><br>

കവിഗുരു തുഞ്ചത്താചാര്യന്‍  പാടിയ പവന രാമകഥ
കൊട്ടാരം കുടിലൊരുപോലെന്നും മാറ്റൊലികൊള്ളും നാടാണേ
ശങ്കരനദ്വൈതാചാര്യന്‍  ശ്രീനാരായണഗുരുദേവന്‍
ആത്മീയതയുടെ പൊന്നൊളിയാലെ   ദീപ്തിപരത്തിയ നാടാണേ. <br>
(ഹിന്ദുക്കള്‍..)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>