<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ചഞ്ചലമാനസ, ചപലത നീക്കൂ…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        
 ചഞ്ചലമാനസ, ചപലത നീക്കൂ നിശ്ചലനിഷ്ഠ വളർത്തൂ നീ <br> മരണം തന്നെ നേരിട്ടാലും മലയൊടുതുല്യം നില്ക്കൂ നീ <br>
 <br><br>
കരിമുകിൽ മാലകൾ പോലെ വിപത്തിൻ കരിനിഴൽ നീളെ നിരന്നാലും <br> ആശാകിരണം കൈവെടിയരുതേ സോദര, ഭീരുത തേടരുതേ <br>
(ചഞ്ചല മാനസ) <br><br>

ഭീകരജീവിത സംഗ്രാമത്തിൻ ഭീഷണഭേരി മുഴങ്ങുമ്പോൾ <br> സാഥികൾ നിന്നെ കൈവിട്ടാലും കേവലമൊറ്റയ്ക്കടരാടൂ <br>
(ചഞ്ചല മാനസ) <br><br>

ബന്ധുജനാവലി തന്നെ മുന്നിൽ ഹന്ത! ചെറുക്കാൻ നിന്നാലും <br> കർത്തവ്യത്തിൻ കരവാളേന്തി സത്യപഥത്തിൽ പോകൂ നീ <br>
(ചഞ്ചല മാനസ) <br><br>

സ്വാർത്ഥസുഖത്തിൻ കാമനയെല്ലാം വെണ്ണീറായിപ്പോയാലും <br> പുഞ്ചിരിയോടെ ജീവിതമഖിലം ധന്യതകൊണ്ടു നിറയ്ക്കൂ നീ <br>
(ചഞ്ചല മാനസ) <br><br>

ധന്യപുരാതന പാരമ്പര്യം ചിന്തിച്ചഭിമാനിക്കൂ നീ <br> ധ്യേയപ്രാപ്തിക്കചലമനസ്സായ് ജീവിതമാഹുതി ചെയ്യൂ നീ <br>
(ചഞ്ചല മാനസ) <br>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>