<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">അമരമാകണമെന്റെ രാഷ്ട്രം…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        അമരമാകണമെന്റെരാഷ്ട്രംവിശ്വവിശ്രുതിനേടണം
നിഖിലവൈഭവപൂര്ണമാവണമെവിടെയുംജനജീവിതം
അരുതനീതികളാര്ത്തരറിയരുതംബദുഖമൊരല്പവും
വിശ്വശാന്തിവളര്ത്തുവാനവള്ശക്തിശാലിനിയാകണം <br><br>

ശ്രീസരസ്വതിതന്നുപാസനധര്മമാക്കിയഭൂമി
യില്അജ്ഞതാതിമിരംപടര്ന്നുകിടപ്പതെന്തുവിപര്യയം
അര്ത്ഥതൃഷ്ണശമിപ്പതി -ന്നുലകുറ്റുനോക്കിയസ്വര്ണഭൂ
പിച്ചതെണ്ടുവതെന്തുദുസ്സഹ -മീയധോഗതിമാറണം <br><br>

കര്മമേപുരുഷാര്ത്ഥമാക്കിയസിംഹവിക്രമശാലികള്
കര്മയോഗികള്കര്മധീരര്മഹാപരിശ്രമശാലികള്
ചോരകൊണ്ടുവിയര്പ്പുകൊണ്ടുസമൃദ്ധമാക്കിയഭൂ
മിയില്എന്തുജാഡ്യമിതെന്തുനിഷ്ക്രിയഭാവമീസ്ഥിതിമാറണം <br><br>

സ്വാര്ത്ഥഭാവനയെന്തുകൊണ്ടീയജ്ഞഭൂവിലുയര്ന്നിടാന്
ഇവിടെയല്ലീപിറന്നുപണ്ടേത്യാഗശീലരകിഞ്ജനര്
ആത്മബലിചെയ്യുമ്പൊഴുംഞാനെന്നമത്സരബുദ്ധികള്,
വീണ്ടുമുല്ക്കടരാഷ്ട്രസേവാഭവ്യഭാവനവളരണം
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>