<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">പൂജ ചെയ്യാന്‍ നേരമായി…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        പൂജ ചെയ്യാന്‍ നേരമായി പോക നാം ശ്രീകോവിലില്‍ (2) <br><br>

മണവുമില്ല നിറവുമില്ല കേവലം വനപുഷ്പമീ ഞാന്‍
എങ്കിലും നിന്‍ കാല്‍ക്കലെത്താന്‍ ഭാഗ്യമരുളാന്‍ കനിയണേ (2) <br><br>

ജീവിതത്തിന്‍ തുച്ഛനിമിഷം പാഴ്ക്കിനാവില്‍ പോയിടാതെ
വാടിവരളും മുമ്പിലെന്നെ കൈ വരിക്കാന്‍ കനിയണേ (2) <br><br>

നിന്‍ ശിരസ്സില്‍ സുരഗണങ്ങള്‍ രത്നമകുടം ചാര്‍ത്തിടുമ്പോള്‍
ത്രൃപ്പദത്തില്‍ ജീവിതത്തിന്‍ പൂമ്പരാഗം വിതറുവാന്‍
ജന്മമമ്മേ സഫലമാക്കാന്‍ പാവനേ, നീ കനിയണേ (2)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>