<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ഇതാണിതാണീ പാവന ഭാരത…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        ഇതാണിതാണീ പാവന ഭാരത
ഭൂമാതാവിന്‍ ശ്രീകോവില്‍
ഇവിടെ നമിക്കാം ഇവിടെ ജപിക്കാം
ഇവിടെസ്സാധന ചെയ്തീടാം (2) <br>
(ഇതാണിതാണീ പാവന …….) <br><br>

വിഭാത വേളയില്‍ നമ്മെയുണര്ത്തും
കിളികുലമിവിടെ പാടീടു൦
പ്രഭാതസന്ധ്യയില്‍ വിടരും സുരഭില-
സുമതതി നര്‍ത്തനമാടീടും
സ്വതന്ത്രജീവിത വിജയരഹസ്യം
പകരും മരുതനിന്നിവിടെ
പറന്നുവന്നീ പരിസരമാകെ
പുതിയൊരു ചേതന ചേര്ത്തീടും <br>
( ഇവിടെ നമിക്കാം ) <br><br>

ഇവിടുന്നുയരും ശംഖധ്വനിയുടെ
മംഗളമാം തരകമന്ത്രം
അഗാധനിദ്രയില്‍ മുഴുകിയ ഹൈന്ദവ
കര്‍ണപുടങ്ങളിലെത്തീടും
അണിഅണിയായവരണയു൦ നിശ്ചയ-
മിവിടെ പ്രണമിച്ചീടാനായി
ഇവിടെ പ്രതിദിനമാരതി ചെയ്യാന്‍
പ്രതിജ്ഞ ചെയ്യുകയീനമ്മള്‍ <br>
( ഇവിടെ നമിക്കാം ) <br><br>

വിഷാദമറ്റ കിരീടി ധനുസ്സിന്‍
ഞാണൊലി മുഴക്കിയന്നിവിടെ
പ്രബുദ്ധഭാവമുണര്‍ന്ന ഹനുമാന്‍
കുതിച്ചുയര്ന്നതുമന്നിവിടെ
പ്രതിജ്ഞ ചെയ്തു ജയിക്കാന്‍ കരവാള്‍
വീരശിവാജി ധരിച്ചിവിടെ
വില്ലുകുലയ്ക്കും പാര്‍ത്ഥനു സാരഥി
യോഗേശ്വരനുണ്ടിന്നിവിടെ. <br>
( ഇവിടെ നമിക്കാം ) <br><br>

അരുണപ്രഭമാമുദയദിവാകര-
കിരണപതാക ഉയരുകയായ്
പുതിയയുഗത്തിന്‍ ദ്വിഗ്വിജയത്തിനു
മംഗളദീപ്തി കൊളുത്താനായ്‌
അഭിമാനത്തിന്‍ സ്വാതന്ത്ര്യത്തിന്‍
അജയ്യവീര്യമുണര്ത്താനായ്
ഉയര്‍ന്നുപൊങ്ങുകയാണിവിടിന്നും
പാഞ്ചജന്യതരംഗങ്ങള്‍ <br>
( ഇവിടെ നമിക്കാം )
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>