<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
          <h4 class="card-title mt-3"> Rss Shaka <span style="color: orange;">Ganageetham</span></h4>
          <hr>
          <div class="text-center mb-2"><a href="/ganageetham7" class="btn  w-100 btn-color">പാവന ഭാരതമേ…..</a></div>
          <div class="text-center mb-2"><a href="/ganageetham1" class="btn  w-100 btn-color">നിളയൊഴുകി പടരും….</a></div>
          <div class="text-center mb-2"><a href="/ganageetham2" class="btn  w-100 btn-color">സംഘ സംഘമൊരെജപം…</a></div>
          <div class="text-center mb-2"><a href="/ganageetham13" class="btn w-100  btn-color">വന്ദേജനനീഭാരതധരണീ...</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham8" class="btn  w-100 btn-color">ഹിന്ദുക്കള്‍
              നാമൊന്നാണേ….</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham15" class="btn w-100  btn-color">പൂജ ചെയ്യാന്‍
              നേരമായി…..</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham16" class="btn w-100  btn-color">നമസ്‌കരിപ്പൂ
              ഭാരതമങ്ങേ…..</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham3" class="btn  w-100 btn-color">പ്രവാസിയായ്‌
              പ്രണീതരായി…</a></div>
          <div class="text-center mb-2"><a href="/ganageetham10" class="btn w-100  btn-color">പരമപവിത്രമതാമീ
              മണ്ണിൽ….</a></div>
          <div class="text-center mb-2"><a href="/ganageetham6" class="btn  w-100 btn-color">അകലെയല്ലാ
              പൊന്നുഷസ്സിന്‍….</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham14" class="btn w-100  btn-color">രക്ഷാ ബന്ധന
              മഹോത്സവം…..</a></div>
          <div class="text-center mb-2"><a href="/ganageetham12" class="btn w-100  btn-color">അമരമാകണമെന്റെ
              രാഷ്ട്രം…..</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham9" class="btn  w-100 btn-color">ഇതാണിതാണീ പാവന ഭാരത….</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham11" class="btn w-100  btn-color">ഒരു വരത്തിനു വേണ്ടി
              മാത്രം….</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham4" class="btn  w-100 btn-color">ധവള ഹിമാലയ
              പര്‍വതനിരയും…..</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham5" class="btn  w-100 btn-color">ലോകത്തിന്‍
              ബഹുമാനബിന്ദുവായ്‌….</a>
          </div>
          <div class="text-center mb-2"><a href="/ganageetham17" class="btn  w-100 btn-color">ചഞ്ചലമാനസ, ചപലത നീക്കൂ…</a>
          </div>
          <div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>