<section class="container text-center">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4 container"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
        <div class="card-body container">
          <h4 class="card-title mt-3">സംഘ സംഘമൊരെജപം…..</h4>
          <hr>
          <h6 class="card-text mb-3">
              സംഘസംഘമൊരെജപംഹൃദയത്തുടിപ്പുകളാവണം
സംഘമാവണമെന്‍റെജീവിതമെന്തുധന്യമിതില്പരം ?<br><br>

പുണ്യഭാരതദേവിതന്‍ കഴലെന്മനസ്സിലുരക്കണം
ശൂന്യജീവിതമാകെയത്തിരുശോഭകൊണ്ടുനിറയ്ക്കണം
തൃപ്പദത്തിലുഴിഞ്ഞുവെക്കണമോക്കെയുംപരമാദരം<br><br>

സ്വാര്‍ത്തചിന്തകള്‍ മായണംപരമാര്‍ത്ഥഭോധമുതിക്കണം
രാഷ്ട്രഭാവനയാല്‍ സ്വജീവിതലക്ഷ്യമുള്ളിലുറക്കണം
ക്ഷുദ്രവ്യത്തികള്‍ തേഞ്ഞുമാഞ്ഞുവിശാലമാവനമാന്തരം<br><br>

മുക്തമോഹനരൂപമാര്‍ന്നുവരുന്നമായകളാകിലും
ക്രുദ്ധരൂപമീയന്നഭീകരശത്രുസന്ജയമാകിലും
യജ്ഞഭംഗമീയറ്റുവൊരെയരിഞ്ഞുവീഴ്ത്തിയനാകുലം<br><br>

സംശയങ്ങളകന്നകന്നുമനസ്സുനിര്‍മലമാകണം
ദ്യെയനിഷ്ടതെളിഞെരിഞ്ഞുംപ്രാദീപ്തമാകണമുള്‍തടം
പേകിനാവിലുമുള്ളിലുല്‍ക്കടസംഘനിഷ്ഠജ്വലിക്കണംsamgha</h6>
        </div>
      </div>
        </div>
    </div>
</section>