<section class="container text-center">
    <div class="container">
        <div class="row">
        <div class="card w-100 text-center mb-4 container"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
         <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>       
        <div class="card-body container">
          <h4 class="card-title mt-3">നിളയൊഴുകി പടരും….</h4>
          <hr>
          <h6 class="card-text mb-3">
“നിളയൊഴുകി പടരും വഴിനീളെ
കുളിരല നിറയും പമ്പയിലൂടെ
പെരിയാറിന്‍ പുളിനങ്ങള്‍ താണ്ടി
പുതിയ യുഗപ്പൊന്‍തേര്‍ത്തടമേറി
പൂര്‍ണതതേടി വരുന്നൂ ഞങ്ങള്‍
പൂര്‍ണതതേടി വരുന്നൂ…<br><br>

മതവെറിപൂണ്ടവരീ നൈര്‍മല്യം 
അടിച്ചുടച്ചു കടന്നപ്പോള്‍
അവിടെത്തന്‍ ചുടുനിണമാല്‍ പുതിയൊരു
കോവിലുയര്‍ത്തിയ മലയാളത്തിന്‍
മനസ്സിനുള്ളില്‍ കൊളുത്തിവച്ചൊരു
ദീപവുമായി വരുന്നൂ…<br><br>

പോര്‍ക്കലി പൂണ്ടുറയും കരവാളം 
വാനിലുയര്‍ത്തും പുരളീമലയും
ധിക്കാരത്തിന്‍ ധവളഗളങ്ങള്‍
വെട്ടിയെറിഞ്ഞലറും കുണ്ടറയും
പറയുകയാണനവരതം തളിയും
വീരത നിറയും ചരിതങ്ങള്‍…<br><br>

ആത്മസമര്‍പ്പണവീഥിയിലെല്ലാം 
ആഹുതി ചെയ്തവരുദ്‌ഘോഷിച്ചു
വേറില്ലിനിയൊരു സത്യം ഭാരത-
ധര്‍മം മാനവസംസ്കാരം
ആ ശുഭസത്യമതെന്നും ഭൂവില്‍
പുലര്‍ത്തിടാനായ്‌ ഞങ്ങള്‍ വരുന്നൂ….”</h6>
        </div>
      </div>
        </div>
    </div>
</section>