<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">ധവള ഹിമാലയ പര്‍വതനിരയും…..</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        ധവള ഹിമാലയ പര്‍വതനിരയും നീലിമ തിങ്ങിടുമലയാഴികളും
                        അനുദിനമരികില്‍ കാവല്‍ നില്‍ക്കും ഭരതമല്ലോ നമ്മുടെ ദേശം<br><br>

                        ഇവിടെ ജനിച്ചൊരു സംസ്കാരത്തിന്‍ കഥകളുറങ്ങും കാനനനിരകള്‍
                        ഇന്നുമുണര്ത്തുന്നു ശുഭവൈദിക മന്ത്രധ്വനികള്‍ ഉലകെങ്ങും<br><br>

                        ഗംഗാ യമുനാ തീരതലങ്ങളില്‍ വിന്ധ്യ ശതപുര താഴ്വാരങ്ങളില്‍
                        ജീവിതസത്യം തേടിയലഞ്ഞൊരു താപസ ദര്‍ശനമെത്രയഗാധം! <br><br>

                        ആര്‍ഷ ജ്ഞാനജ്വാലകളുയരും ആത്മീയതയുടെയീമണ്ണില്‍
                        സൃഷ്ടിസ്ഥിതിലയലീലകളാടി വിളങ്ങിടുന്നു ജഗദംബ <br>

                        (ധവള ഹിമാലയ)
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>