<section class="container text-center">
    <div class="container">
        <div class="row">
            <div class="card w-100 text-center mb-4 container"
                style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
                <div class="text-left mt-2"><a href="/ganageetham" class="btn btn-color">Back</a></div>
                <div class="card-body container">
                    <h4 class="card-title mt-3">വന്ദേജനനീ...</h4>
                    <hr>
                    <h6 class="card-text mb-3 container">
                        വന്ദേജനനീഭാരതധരണീ, സസ്യശ്യാമളേദേവീ <br>
                        കോടികോടിവീരരിന്‍ തായേജഗജനനീനീവെല്‍ക <br><br>

ഉന്നതസുന്ദരഹിമമയപര്‍വ്വതമകുടവിരാജിതവിസ്തൃതഫാലം
ഹിന്ദുസമുദ്രതരംഗസുലാളിതസുന്ദരപാദസരോജം …ജനനീ…ജഗജനനീ <br><br>

ഗംഗായമുനാസിന്ധുസരസ്വതിനദികള്‍ പുണ്യപിയൂഷവാഹികള്‍
കണ്ണന്‍ മുരളീഗാനമുതിര്‍ത്തമഥുരാദ്വാരകയുടയോള്‍ ജനനീ…ജഗജനനീ <br><br>

സങ്കടഹരണീ, മംഗളകരണീ, പാപനിവാരിണി, പുണ്യപ്രദായിനി
ഋഷിമുനിസുരജനപൂജിതധരണിശോകവിനാശിനി, ദേവീ, ജനനീ…ജഗജനനീ <br><br>

ശക്തിശാലിനിദുര്‍ഗാനീയെവിഭവപാലിനിലക്ഷ്മിനീയേ
ബുദ്ധിദായിനിവിദ്യാനീയേഅമരതനല്‍കിടുംതായേജനനീ…ജഗജനനീ <br><br>

ജീവിതമംബേ, നിന്‍ പൂജയ്കായ്മരണംദേവീ, നിന്‍ മഹിമക്കായ്
നിന്നടിമലരിന്‍ പൂമ്പൊടിയൊന്നേസ്വര്‍ഗ്ഗവുംമോക്ഷവുംതായേ… ജനനീ ..ജഗജനനീ
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>