<section class="container">
  <div class="container">
    <div class="row">
      <div class="card w-100 text-center mb-4"
        style="background-color:rgba(255, 255, 255, 0.411);background-repeat: no-repeat;background-size: contain;background-position: center;">
        <div class="card-body container">
          <h4 class="card-title mt-3"> Rss Shaka <span style="color: orange;">Amrithavachanam</span></h4>
          <hr>
          <div class="text-center mb-2"><a href="/amrithavachanam_drji" class="btn  w-100 btn-color">Dr Keshav Baliram Hedgewar</a></div>
          <div class="text-center mb-2"><a href="/amrithavachanam_guruji" class="btn  w-100 btn-color">Madhav Sadashiv Golwalkar</a></div>
          <div class="text-center mb-2"><a href="/amrithavachanam_vivekanandhan" class="btn  w-100 btn-color">Swami Vivekanandhan</a></div>
          <hr><div class="text-center">
            <p>&copy; Rss Tvndr App</p>
          </div><br>
        </div>
      </div>
    </div>
  </div>
</section>