<style>
    #myBtn{
        display: none;
    }
</style>
<div class="banner" style="background-color: rgba(140, 140, 140);width: 100% !important;position: absolute;">
    <div class="banner_content" style="width: 100%;">
        <p class="text-center mt-2">Rss Shakha Baidakh</p>
    </div>
</div>
<br>
<iframe allow="microphone; camera; autoplay; display-capture"
        src="https://rsstvndrmeet.daily.co/rsstestmeet"
        style="border: 1px solid black; background-color: transparent; width: 100%;position: absolute;height: 100%;"></iframe>

    <div id="MAKE_OVER"
        style="width: 100%; height: 100%; z-index: 2147483647; touch-action: none; background-color: rgba(255, 0, 0, 0.4);">
    </div>