<style>
    #myBtn{
        display: none !important;
        visibility: hidden !important;
    }

    iframe{
        width: 100% !important;
        height: 103% !important;
        position: fixed !important;
        z-index: -10 !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        border: transparent !important;
    }

    @media screen and (max-width:700px) {
        iframe{
            top: 29px;
        }    
    }
</style>
{{!-- <hr class="" style="margin: 0 0;height: 20px;background-color: orange;"> --}}
{{!-- <div class="banner" style="background-color: #fff;width: 100% !important;position: absolute;color: black;height: 25px;top: 20;z-index: 100000;">
        <div class="banner_content" style="width: 100%;">
        <p class="text-center mt-1">Rss Shakha Baidakh</p>
    </div>
</div>
<hr> --}}


<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<script>
callFrame = window.DailyIframe.createFrame();
callFrame.join({ url: 'https://rsstvndrmeet.daily.co/v5eJJM4TCjtGEkpoxMiA' })
</script>