<style>
    #myBtn{
        display: none !important;
        visibility: hidden !important;
    }
</style>

<div class="banner" style="background-color:#ffffff;width: 100% !important;position: absolute;color: black;height: 46px;">
        <div class="banner_content" style="width: 100%;">
        <p class="text-center mt-3">Rss Shakha Baidakh</p>
    </div>
</div>
<br>


<iframe allow="camera; microphone; fullscreen; speaker; display-capture"
src="https://rsstvndrmeet.yourvideo.live/60e29e99b8ec300e4ca18412">
</iframe>